{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>

<section>
    <div class="mb-3 rounded border p-2" >
        <span class="badge pill bg-danger">Importante</span>
        <p>Asegurese de subir un archivo en formato .xlxs o .csv que contenga las columnas</p>
    </div>
</section>

<section class="mb-3">
    {% include '__masiveUploadForm.html' %}
</section>

<section id="upload_errors">
    {% if errors %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Unidad</th>
                <th>Error</th>
                <th>Accion</th>
            </thead>
            <tbody>
                {% for error in errors %}
                
                <tr >
                    <td>
                        <input type="text" class="form-control" value="{{ error.code }}">
                    </td>
                    <td>
                        
                        <input type="text" class="form-control" value="{{ error.name }}"></td>
                    <td>
                        
                        <input type="text" class="form-control" value="{{ error.description }}"></td>
                    <td>
                        
                        <input type="" class="form-control" value="{{ error.unit }}">
                    </td>
                    <td class="bg-body-tertiary">
                        <p>
                            {{ error.errors }}
                        </p>
                       
                    </td>
                    <td>
                        <i class="bi bi-chevron-right"></i>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    {% endif %}
</section>



{% endblock %}
