{% from 'macros.html' import cardContainer, tableHover %}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>

<section>
    {{ cardContainer(id=material.code, name=material.name, description=material.detail, url=url_for('inventory.update_material', material_id=material.id)) }}
    <div>
        {{ material.current_price }}
    </div>
</section>

<section>
    <h3>Movimientos de inventario</h3>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Documento</th>
                <th>Ingreso</th>
                <th>Egreso</th>
                <th>Saldo</th>
                <th></th>
            </thead>
            <tbody>
                {% for movement in movements %}
                
                <tr data-url="#" style="cursor: pointer;">
                    <td>{{ movement.date }}</td>
                    <td>{{ movement.movement_trigger }}</td>
                    <td>{{ movement.document_number }}</td>
                    <td>{% if movement.movement_type == 'Ingreso' %}
                            {{ movement.qty }}
                        {% endif %}
                    </td>
                    <td>{% if movement.movement_type == 'Egreso' %}
                            {{ movement.qty }}
                        {% endif %}
                    </td>
                    <td>
                        {{ movement.stock }}
                    </td>
                    <td><i class="bi bi-chevron-right"></i></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>

    </div>
    
</section>
<script>
    function redirectTo() {
        const url = event.target.closest('tr').getAttribute('data-url');
        window.location.href = url;
    }
</script>

{% endblock %}
