{% from 'macros.html' import cardContainer, tableHover %}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>

<section>
    <div class="row">
        <div class="col">
            <a href="{{ url_for('inventory.add_material') }}" class="btn btn-dark">Nuevo material</a>
        </div>
        <div class="col">
            <a href="{{ url_for('inventory.add_bulk_materials') }}" class="btn btn-dark text-end">Carga masiva</a>
        </div>
    </div>
    
   
</section>




<section>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th>Codigo</th>
                <th>Grupo</th>
                <th>Nombre</th>
                <th>Unidad</th>
                <th></th>
            </thead>
            <tbody>
                {% for material in materials %}
                <tr data-url="{{ url_for('inventory.view_material', material_id=material.id) }}" style="cursor: pointer;" onclick="redirectTo()">
                    <td>{{ material.code }}</td>
                    <td>{{ material.material_group.name }}</td>
                    <td>{{ material.name }}</td>
                    <td>{{ material.unit }}</td>
                    <td><i class="bi bi-chevron-right"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    
</section>
<script>
    function redirectTo() {
        const url = event.target.closest('tr').getAttribute('data-url');
        window.location.href = url;
    }
</script>

{% endblock %}
