{% extends 'base.html' %}
{% block title %}Clientes | Guifer{% endblock %}

{% block content %}
 <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>👤 Clientes</h3>
    <button class="btn btn-dark" @click="window.location.href='/clients/create'">+ Nuevo</button>
  </div>
<!-- Buscador -->
{% include 'components/_clientSearchInput.html' %}

<div x-data="clientsTable()" x-init="init(); fetchClients()" class="mt-4">

 

  <template x-if="error">
    <div class="alert alert-danger" x-text="error"></div>
  </template>

  <template x-if="loading">
    <p>Cargando clientes...</p>
  </template>

  <template x-if="!loading && clients.length === 0">
    <p>No hay clientes registrados.</p>
  </template>

  <template x-if="clients.length > 0">
    <div class="table-responsive">
      <table class="table table-hover table-sm align-middle">
        <thead class="table-dark">
          <tr>
            <th>Cédula / RUC</th>
            <th>Nombre</th>
            <th>Provincia</th>
            <th>Compras</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <template x-for="client in clients" :key="client.id">
            <tr>
              <td x-text="client.ruc_or_ci"></td>
              <td x-text="client.name"></td>
              <td x-text="client.province.name"></td>
              <td x-text="client.purchases_count ?? 0"></td>
              <td>
                <a :href="`/clients/${client.id}`" class="btn btn-sm">
                  <i class="bi bi-chevron-right"></i>
                </a>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </template>

</div>
<script>
  
</script>

<script src="{{ url_for('static', filename='js/clients.js') }}"></script>
{% endblock %}
