{% from 'components/floatingButton.html' import floating_button %}
{% extends 'base.html' %}
{% from 'components/_pageHeader.html' import pageHeader%}
{% block title %}Clientes{% endblock %}

{% block content %}

{{ pageHeader(href='/sales/index',
              title='👤'~label.clients,
              has_btn=True,
              btn_label='Nuevo'~label.client,
              btn_href='/clients/create'
              ) }}

    <div
      x-data="genericList(
        '/api/v1/clients',
        '/clients',
        [
          { field: 'ruc_or_ci',        label: 'RUC/CI',      filterable: true  },
          { field: 'name',        label: 'Nombre',      filterable: true  },
          { field: 'total_sales',        label: 'Ventas',      filterable: true  },
          { field: 'province.name',        label: 'Provincia',      filterable: true  },
          { field: 'canton.name',        label: 'Cantón',      filterable: true  },
          { field: 'lifecycle_status',        label: 'Estado',      filterable: true  , component: 'statusBadge', props: { kind: 'lifecycle_status' } },
        ]
      )"

      class="table-responsive"
    >
    <div class="d-none d-md-block">
      {% include 'components/listTable.html' %}
    </div>

    <div class="d-block d-md-none">
      {% include 'components/listCard.html' %}
    </div>
  </div>


{% endblock %}
{% block scripts %}
   <script src="{{ url_for('static', filename='js/genericList.js') }}"></script>
{% endblock %}
