{% extends 'base.html' %}
{% block title %}Clientes | Guifer{% endblock %}

{% block content %}

  <div x-data="{ href: '/sales/index', title: '👤 Clientes' }" class="d-flex justify-content-between align-items-center mb-3">
    {% include 'components/_pageHeader.html' %}
    <button class="btn btn-dark" @click="window.location.href='/clients/create'">+ Nuevo</button>
  </div>

    <div
      x-data="genericList(
        '/api/v1/clients',
        '/clients',
        [
          { field: 'ruc_or_ci',        label: 'RUC/CI',      filterable: true  },
          { field: 'name',        label: 'Nombre',      filterable: true  },
          { field: 'province.name',        label: 'Provincia',      filterable: true  },
          { field: 'purchases_count',        label: 'Compras',      filterable: true  },
        ]
      )"

      class="table-responsive"
    >
      {% include 'components/listTable.html' %}
  </div>


{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='js/genericDetail.js') }}"></script>
   <script src="{{ url_for('static', filename='js/genericList.js') }}"></script>
{% endblock %}
