{% from 'macros.html' import render_input_float %}

<form action="" method="post" novalidate>

    {{ form.hidden_tag() }}

    {{ render_input_float(form.client_type, class='form-select', placeholder="hola") }}

    <div class="input-group">
        <div class="form-floating">              
            {{ render_input_float(form.ruc_or_ci) }}
        </div>
        <div class="input-group-text rounded-bottom-0">
            <div>
                <label class="" for="is_ci"><small>CI</small></label>
                {{ form.is_ci(class='form-check-input') }}
            </div>
            
        </div>
    </div>
    {{ render_input_float(form.name) }}
    {{ render_input_float(form.city) }}
    {{ render_input_float(form.address) }}
    {{ render_input_float(form.phone) }}
    {{ render_input_float(form.email) }}

    {{ form.submit(class='btn btn-dark mt-3') }}

</form>