<div x-data="clientForm()" class="container mt-4">
  <h2 class="mb-4 text-black">Registrar Nuevo Cliente</h2>

  <!-- Formulario -->
  <form @submit.prevent="submitForm" class="card p-4 shadow-sm">
    <div class="row g-3">
      <div class="form-floating col-md-6">
        <input type="text" x-model="client.ruc_or_ci" class="form-control" 
        id="ruc_or_ci" placeholder="RUC o CI" @blur="validateRucOrCi()">
        <label for="ruc_or_ci">RUC o CI</label>
        <template x-if="errors.ruc_or_ci">
          <small class="text-danger" x-text="errors.ruc_or_ci"></small>
        </template>
      </div>

      <div class="form-floating col-md-6">
        <input type="text" x-model="client.name" class="form-control" id="name" placeholder="Nombre o Razón Social">
        <label for="name">Nombre</label>
        <small class="text-danger" x-text="errors.name"></small>
      </div>

      <div class="form-floating col-md-6">
        <input type="email" x-model="client.email" class="form-control" id="email" placeholder="Correo">
        <label for="email">Correo</label>
        <small class="text-danger" x-text="errors.email"></small>
      </div>

      <div class="form-floating col-md-6">
        <input type="text" x-model="client.phone" class="form-control" id="phone" placeholder="Teléfono">
        <label for="phone">Teléfono</label>
        <small class="text-danger" x-text="errors.phone"></small>
      </div>

      <div class="form-floating col-md-6">
        <input type="text" x-model="client.address" class="form-control" id="address" placeholder="Dirección">
        <label for="address">Dirección</label>
        <small class="text-danger" x-text="errors.address"></small>
      </div>

      <div class="form-floating col-md-6">
        <select x-model="client.client_type" class="form-select" id="client_type">
          <option value="">Seleccione tipo</option>
          <option value="Minorista">Minorista</option>
          <option value="Mayorista">Mayorista</option>
        </select>
        <label for="client_type">Tipo de Cliente</label>
        <small class="text-danger" x-text="errors.client_type"></small>
      </div>

      <div class="form-floating col-md-6">
        <select x-model="client.province_id" class="form-select" id="province" @change="fetchCantons">
          <option value="">Seleccione provincia</option>
          <template x-for="province in provinces" :key="province.id">
            <option :value="province.id" x-text="province.name"></option>
          </template>
        </select>
        <label for="province">Provincia</label>
        <small class="text-danger" x-text="errors.province_id"></small>
      </div>

      <div class="form-floating col-md-6">
        <select x-model="client.canton_id" class="form-select" id="canton">
          <option value="">Seleccione cantón</option>
          <template x-for="canton in cantons" :key="canton.id">
            <option :value="canton.id" x-text="canton.name"></option>
          </template>
        </select>
        <label for="canton">Cantón</label>
        <small class="text-danger" x-text="errors.canton_id"></small>
      </div>
    </div>

    <div class="mt-4 text-end">
      <button type="submit" class="btn btn-dark">
        <i class="bi bi-save"></i> Guardar Cliente
      </button>
    </div>
  </form>
</div>

<script>
  function clientForm() {
    return {
      client: {
        ruc_or_ci: '',
        name: '',
        email: '',
        phone: '',
        address: '',
        client_type: '',
        province_id: '',
        canton_id: ''
      },
      errors: {},
      provinces: [],
      cantons: [],
      created_client:{},

      async init() {
        const res = await fetch('/api/v1/provinces');
        const data = await res.json();
        this.provinces = data;
      },

      async fetchCantons() {
        if (!this.client.province_id) return;
        const res = await fetch(`/api/v1/cantons?province_id=${this.client.province_id}`);
        this.cantons = await res.json();
      },

      async validateRucOrCi() {
            if (this.client.ruc_or_ci.length !== 10 && this.client.ruc_or_ci.length !== 13 ) {
                this.errors.ruc_or_ci = "Debe ingresar 10 o 13 caracteres ";
                return;
            }


            try {
                const response = await fetch(`/api/v1/clients/search/client?ci=${this.client.ruc_or_ci}`);
                const data = await response.json();
                if (response.ok) {
                    this.errors.ruc_or_ci = `Este RUC/Cédula ya está registrado. Cliente: ${data.name}`;
                } else {
                    this.errors.ruc_or_ci = "";
                }
            } catch (error) {
                console.error(error);
                this.errors.ruc_or_ci = "Error de validación";
            }
        },

      async submitForm() {
        this.errors = {};

        try {
          const res = await fetch('/api/v1/clients', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              //'Authorization': 'Bearer ' + localStorage.getItem('access_token')
            },
            body: JSON.stringify(this.client)
          });

          const result = await res.json();
          console.log(result)
          if (!res.ok) {
            if (result.errors) {
              this.errors = result.errors;
            } else {
              alert('Error: er' + result.message);
            }
          } else {
            alert('creado exitosamente');
            this.client = ''
            return result
            
          }
        } catch (e) {
          console.error('Error enviando datos:', e);
        }
      }
    }
  }
</script>
