{% from 'macros.html' import render_input_float %}

<form id="clientForm" novalidate method="post" x-data='clientInfo({{data|tojson}})' >
    {{ form.hidden_tag() }}
    <div>
        Datos del cliente
    </div>
    <div class="input-group">
        <div class="form-floating">           
            <input x-bind:name="'ruc_or_ci'" x-bind:id="'ruc_or_ci'"  
            x-bind:placeholder="'ruc/ci'" x-model="client.ruc_or_ci" class="form-control" @change="fecth_ruc_or_ci()"> 
            </input>
            <label x-bind:for="'ruc_or_ci'">RUC o CI</label>
            <span x-text="clientErrors.ruc_or_ci" class="text-danger">
                <i class="bi bi-exclamation-circle-fill" ></i>
            </span>
        </div>
        <div class="input-group-text rounded-bottom-0">
            <div>
                <label class="" for="is_special_taxpayer">
                    <small>
                        <div>Cont</div>
                        <div>Especial</div>
                    </small>
                </label>
                <input type="checkbox" name="is_special_taxpayer" id="is_special_taxpayer" class="form-check-input">
            </div>
            
        </div>
    </div>
    <div class="form-floating">           
        <select x-bind:name="'client_type'" x-bind:id="'client_type'"  
        x-bind:placeholder="'client'" x-model="client.client_type" class="form-select" >
            <option value="">Seleccione tipo cliente</option>
            <option value="natural" x-bind:selected="client.client_type=='natural'">Natural</option>
            <option value="juridica" x-bind:selected="client.client_type=='juridica'">Juridica</option>
        </select>
        <label x-bind:for="'client_type'">Tipo de personería</label>
        <span x-text="clientErrors.client_type" class="text-danger">
            <i class="bi bi-exclamation-circle-fill"></i>
        </span>
    </div>
    
    <div class="form-floating">           
        <input x-bind:name="'name'" x-bind:id="'name'"  
        x-bind:placeholder="'ruc/ci'" x-model="client.name" class="form-control" >
        </input>
        <label x-bind:for="'name'">Nombre o razon social</label>
        <span x-text="clientErrors.name" class="text-danger">
            <i class="bi bi-exclamation-circle-fill"></i>
        </span>
    </div>
    <div class="form-floating">           
        <input x-bind:name="'email'" x-bind:id="'email'"  
        x-bind:placeholder="'email'" x-model="client.email" class="form-control" >
        </input>
        <label x-bind:for="'email'">Email</label>
        <span x-text="clientErrors.email" class="text-danger">
            <i class="bi bi-exclamation-circle-fill"></i>
        </span>
    </div>
    <div class="form-floating">           
        <select x-bind:name="'province'" x-bind:id="'province'"  
        x-bind:placeholder="'province'" x-model="client.province" class="form-select" @click="fetch_cantons(client.province)" @select="is_province_selected=true">
            <option value="">Seleccione provincia</option>
            <template x-for="province in provinces" :key="province.id">
                <option :value="province.id" x-text="province.name"></option>
            </template>
        </select>
        <label x-bind:for="'province'">Provincia</label>
        <span x-text="clientErrors.province" class="text-danger">
            <i class="bi bi-exclamation-circle-fill"></i>
        </span>
    </div>
    <div class="form-floating">           
        <select x-bind:name="'canton'" x-bind:id="'canton'" x-bind:enabled="is_province_selected"
        x-bind:placeholder="'canton'" x-model="client.canton" class="form-select" >
            <option value="">Seleccione cant&oacute;n</option>
            <template x-for="canton in cantons">
                <option value="canton.id" x-text="canton.name"></option>
            </template>
        </select>
        <label x-bind:for="'canton'">Cant&oacute;n</label>
        <span x-text="clientErrors.canton" class="text-danger">
            <i class="bi bi-exclamation-circle-fill"></i>
        </span>
    </div>
    <div class="form-floating">           
        <input x-bind:name="'address'" x-bind:id="'address'"  
        x-bind:placeholder="'address'" x-model="client.address" class="form-control" >
        </input>
        <label x-bind:for="'address'">Direcci&oacute;n</label>
        <span x-text="clientErrors.address" class="text-danger">
            <i class="bi bi-exclamation-circle-fill"></i>
        </span>
    </div>
    <div class="form-floating">           
        <input x-bind:name="'phone'" x-bind:id="'phone'"  
        x-bind:placeholder="'phone'" x-model="client.phone" class="form-control" >
        </input>
        <label x-bind:for="'phone'">Tel&eacute;fono</label>
        <span x-text="clientErrors.phone" class="text-danger">
            <i class="bi bi-exclamation-circle-fill"></i>
        </span>
    </div>
    <div class="mt-3 ">
        <div class="row p-2 justify-content-between">
            <button class="btn btn-secondary col-sm-4 mb-3" type="reset" @click="cleanAll()" >Limpiar</button>
            <input type="submit" name="submit" id="submit" class="btn btn-dark col-sm-4 mb-3" value="Guardar">
        </div>
        
    </div>

    
</form>

<script>
    function clientInfo(data){
        return {
            client: {
                ruc_or_ci: data?.ruc_or_ci || '',
                client_type: data?.client_type || '',
                name: data?.name || '',
                email: data?.email || '',
                province: '',
                canton: '',
                address: data?.address || '',
                phone: data?.phone || ''
            },
            clientErrors:[],
            provinces:[],
            cantons:[],
            is_province_selected: false,


            init(){
                console.log('client', this.client);
                this.fetch_provinces();
                //this.fetch_cantons();
            },

            cleanAll(){
                this.client = {
                    ruc_or_ci: '',
                    client_type: '',
                    name: '',
                    email: '',
                    city: '',
                    address: '',
                    phone: ''
                }
            },

            async fecth_ruc_or_ci(){
                console.log('fetching ruc or ci');
                console.log('ruc or ci', this.client.ruc_or_ci);
                try {
                    const response = await fetch('/api/v1/search/client?ci='+ this.client.ruc_or_ci);
                    
                    const data = await response.json();
                    console.log('data', data);
                } catch (error) {
                    console.error('error', error);
                }
            },

            async fetch_provinces(){
                console.log('fetching provinces');
                try{
                    const response = await fetch(`/api/v1/provinces`);
                    if(response.ok){
                        const provinces = await response.json();
                        this.provinces = provinces;
                        console.log('provinces: ', provinces);
                    }

                }catch(error){
                    console.error('Error al cargar provincias.', error);
                }
            },

            async fetch_cantons(id){
                console.log('fetching cantons, province id: ', id);
                
                try{
                    if(id){
                        const response = await fetch(`/api/v1/cantons?province_id=${id}`);
                        if(response.ok){
                            const cantons = await response.json();
                            this.cantons = cantons;
                            console.log('cantns', cantons)
                        }
                    }else{
                        console.log('sin province_id')
                    }
                    
                }catch(error){
                    console.error('error cargando cantones.', error);
                }
            }
        }
    }
</script>