.zoom-container {
    position: relative;
    overflow: hidden;
}

.zoom-image {
    transition: transform 0.2s ease-in-out;
}

.zoom-container:hover .zoom-image {
    transform: scale(1.5); /* Adjust the scale value as needed */
}




.card .fs-6 {
font-size: 1rem;
}

.card .text-muted {
font-size: 0.85rem;
}

.card .fw-semibold {
font-weight: 600;
}

@media (max-width: 576px) {
.card .fs-6 {
    font-size: 0.95rem;
}
.card .text-muted {
    font-size: 0.8rem;
}
}

.btn-link{
    color: black;
}

.btn-link:hover, .btn-link:focus {
  color: #ffffff; /* o el color que prefieras */
  text-decoration: none;
  background: #565353; /* leve fondo al pasar el mouse, opcional */
  border-radius: .5rem;
}

.btn-back{
    color: none;
    text-decoration: none;
}

.btn-simple{
    text-decoration: none;
    border: none;
}

.btn-back:hover, .btn-back:focus{
    color: blue;
    text-decoration: underline;
    transform: scale(1.2);
}

@media print {
    header, footer, .navbar, .btn, .footer { display: none !important; }
  @page {
    size: auto;   /* O usa A5, A6, dependiendo tu plantilla */
    margin: auto;

  }
  /* ...resto igual... */
}
