<div x-data="detailLast({{id}})">
    <div class="card px-0">
        <div class="card-body">
            <div class="mb-2">
                <div class="text-muted">Nombre de la colleción</div>
                <div class="bg-light rounded-2 form-control" disabled>
                    <div x-text="last.name"></div>
                </div>
            </div>
            <div class="mb-2">
                <div class="text-muted">Código</div>
                <button class="d-flex justify-content-between rounded-2 form-control "  @click="editField('code', last.code, 'Codigo', `/last-types/${last.id}/edit`, 'text')">
                    <div  x-text="last.code?last.code:'Sin codigo'"></div>
                    <div> <i class="bi bi-chevron-right"></i></div>
                </button>
            </div>
            <div>
                <div class="text-muted">Tallas</div>
                    <ul class="list-group list-group-flush">
                        <template x-for="row in last.lasts" :key="row.id">
                            <li class="list-group-item list-group-item-action">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="fw-semibold badge text-bg-secondary"
                                    x-text="row.size ?? row.size_value"></span>
                                 <div x-data="{v:{quantity: row.qty} }" @click="editField('qty', row.qty, 'Cantidad', `/lasts/${row.id}/edit`, 'number')">
                                    {% include 'components/_quantityInput.html' %}
                                 </div>
                            </div>
                            </li>
                        </template>
                    </ul>
            </div>
        </div>
    </div>

    {% include 'production/resources/lasts/_editForm.html'%}
</div>


<script>
    function detailLast(id){
        return{
            last:{},
            lasts:[],
            error:'',
            form:{},
            field_label:'',
            selectedField:'',
            form_model:'',
            original_value: '',
            api:'',
            message:'',
            type:'',
            _offcanvas: null,

            init(){
                this.fetchLastType(id);
                this._offcanvas = bootstrap.Offcanvas.getOrCreateInstance(this.$refs.offcanvas);
            },

            async fetchLastType(id){
                try{
                    const res = await window.guifer.helpers.fetch.apiFetch('GET', `/last-types/${id}`);

                    this.last = res;
                    console.log('res: ', res);
                    this.setLast(res);
                }catch(error){
                    console.error('API error: ', error)
                }
            },

            setLast(data){
                this.lasts= data.lasts

            },

            editField(field, data, label, api, type){
                this.type = type??'text';
                this.api = api;
                this.original_value = data;
                this.selectedField = field;
                this.field_label = label;
                this.form_model = data;
                this._offcanvas.show();
                this.form[field] = this.form_model;
                console.log("Offcanvas abierto por JS.");
            },

            async saveField(){
                let url = this.api
                this.form[this.selectedField] = this.form_model;
                console.log('save: ', this.form)
                try{
                    const res = await window.guifer.helpers.fetch.apiFetch('PATCH', url, this.form );
                    this.fetchLastType(res.family_id)
                    console.log('repsonse: ', res)

                    alert("Guardado");
                    this.form = {};
                    this._offcanvas.hide();
                }
                catch(err){
                    console.error('ERROR API: ', err)
                }

            },

            resetField(){
                this.form_model = this.original_value
            }

        }
    }
</script>
