{% extends "base.html" %}
{% block title %}Hormas{% endblock %}
{% from 'components/_pageHeader.html' import pageHeader %}
{% block content %}

{{ pageHeader(href='/production/resources',
              title='Hormas',
              has_btn=False, ) }}

<style>
/* Cabezera pegada arriba mientras haces scroll vertical */
.table-sticky thead th {
  position: sticky;
  top: 0;
  z-index: 3;            /* sobre las celdas */
  background: #fff;      /* cubrir lo de abajo */
}

/* Columnas fijas */
.table-sticky .sticky-col {
  position: sticky;
  left: 0;
  z-index: 2;
  background: #fff;
}

</style>

<div class="" x-data="lastsList()">
  <button type="button" class="btn btn-outline-primary" x-on:click="syncLasts()">🔄Sync</button>
  <div class="">
      <template x-if="error">
        <div class="alert alert-danger" role="alert" x-text="error">

          </div>
      </template>
    <h2 class="h6 mb-3">Lista de hormas</h2>

    <div>
  <div class="my-3" >
  <div class="input-group">
    <!-- Ícono de lupa -->
    <span class="input-group-text bg-white border-end-0">
      <i class="bi bi-search"></i>
    </span>
    <!-- Buscador global -->
    <input
      type="text"
      class="form-control border-start-0"
      placeholder="Buscar en toda la lista…"
      x-model="globalFilter"
      @input="filterItems()"
    />
  </div>
</div>

<ul class="list-group list-group-flush d-sm-block d-md-none" >
  <template x-for="fam in lastFamily" :key="fam.id">
    <li class="list-group-item list-group-item-action">
      <div class="d-flex justify-content-between align-items-start btn" @click="redirectLast(fam.id)">
        <div class="ms-2 me-auto text-start" >
          <div class="fw-bold ms-0" x-text="fam.collection_name"></div>
          <span class="text-muted small ms-0" x-text="fam.code ? `Código: ${fam.code}` : 'Sin código'"></span>
        </div>
        <div>
          <span class="badge text-bg-primary rounded-pill" x-text="'Total: '+ getTotal(fam.lasts)"></span>
          <span class="ms-2"><i class="bi bi-chevron-right"></i></span>
        </div>
      </div>
    </li>
  </template>
</ul>

<div class="table-responsive d-none d-md-block">
      <table class="table table-hover table-sticky">
        <thead>
          <tr>
            <th class="sticky-col" >Colección</th>
            <th class="" >Código</th>
            <template x-for="i in pre_sizes">
              <th x-text="i"></th>
            </template>
          </tr>

        </thead>
        <tbody>
          <template x-for="fam in lastFamily" :key="fam.id">
            <tr @click="redirectLast(fam.id)">
              <td class="sticky-col" x-text="fam.collection_name"></td>
              <td class="" x-text="fam.code"></td>
              <template x-for="i in pre_sizes">
                <td x-text="getQty(fam, i)"></td>
              </template>
            </tr>
          </template>
          <template x-if="empty">
            <tr>No exsiten hormas registradas</tr>
          </template>

        </tbody>
      </table>
    </div>


  </div>
</div>

<script>
  function lastsList(){
    return{
      filtered:'',
      lasts:[],
      error:'',
      msg:'',
      empty: false,
      pre_sizes: Array.from({ length: 31 }, (_, i) => i + 14),
      lastFamily:[],
      globalFilter:[],

      init(){
        this.fetchLasts()
      },

      async fetchLasts(){

        try{
          const res = await window.guifer.helpers.fetch.apiFetch('GET', '/last-types');
          if(res){
            this.setLasts(res);
          }
        }catch(error){
          console.error('error consultando API: ', error)
          this.error = 'Error consultando API' + String(error)
        }


      },

      async syncLasts(){
        try{
          const res = await window.guifer.helpers.fetch.apiFetch('GET', '/lasts/sync');
          if(res){
            this.setLasts(res);
            this.msg = 'Sincronizacion exitosa';
          }

        }catch{
          this.error = 'Error de sincronizacion'
        }



      },

      getQty(fam, size) {
        const s = Number(size);
        const item = (fam.lasts ?? []).find(l => Number(l.size) === s);
        return Number(item?.qty ?? 0);
      },




      setLasts(data){
          this.lastFamily = data;
          if(!this.lastFamily.length>0) this.empty = true
      },

      getTotal(lasts){
        let sum = 0
        lasts.forEach(element => {
          sum += parseInt(element.qty)
        });
        return sum
      },



      redirectLast(id){
        window.location.href = `/production/resources/lasts/${id}`
      }


    }
  }
</script>


{% endblock %}

{% block scripts %}

{% endblock %}
