{% from 'macros.html' import cardContainer, tableHover %}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>

<section>
    <div class="row">
        <div class="col">
            <a href="{{ url_for('inventory.add_warehouse') }}" class="btn btn-dark">Nueva bodega</a>
        </div>
    </div> 
</section>




<section>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Ubicacion</th>
                <th></th>
            </thead>
            <tbody>
                {% for wh in warehouses %}
                <tr data-url="{{ url_for('inventory.view_warehouse', warehouse_id=wh.id) }}" style="cursor: pointer;" onclick="redirectTo()">
                    <td>{{ wh.code }}</td>
                    <td>{{ wh.name }}</td>
                    <td>{{ wh.description }}</td>
                    <td>{{ wh.location }}</td>
                    <td><i class="bi bi-chevron-right"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    
</section>
<script>
    function redirectTo() {
        const url = event.target.closest('tr').getAttribute('data-url');
        window.location.href = url;
    }
</script>

{% endblock %}
