{% extends "base.html" %}
{% from 'components/detailCard.html' import detail_card %}
{% block title %}Detalle de venta{% endblock %}

{% block content %}
<div class="container mt-3" >

  <div x-data="{ href: '/sales/sale-orders', title: 'Detalle de ventas' }">
    {% include 'components/_pageHeader.html' %}
  </div>

  <div class="container" id="sale-order-detail" x-data="sale_orderDetail({{order_id}})" x-init="fetchOrder">

    <!-- orden-->
    <section class="mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center mb-2 card-title">
              <div class="rounded-circle d-flex justify-content-center align-items-center me-2" style="width:2.3rem; height:2.3rem;">
                ℹ️
              </div>
              <span class="fw-semibold fs-6">Venta</span>
            </div>
          <div>
            <span class="rounded-pill" :class="helpers.badgeClass(order.status)" x-text="order.status"></span>
          </div>
          </div>

          <div class="px-4 small lh-sm">
            <div><span class="text-muted">Orden de venta:</span> <span class="fw-semibold" x-text="order.order_number"></span></div>
            <div><span class="text-muted">Vendedor:</span> <span x-text="order.salesperson.name"></span></div>
            <div><span class="text-muted">Fecha de pedido:</span> <span x-text="order.order_date"></span></div>
            <div><span class="text-muted">Fecha entrega:</span> <span x-text="order.due_date"></span></div>
            <div class="d-flex gap-2 mt-3">
              <button class="btn btn-success"
                      @click="changeStatus('Aprobada')">Aprobar</button>
              <button class="btn btn-outline-danger"
                      @click="changeStatus('Cancelada')">Rechazar</button>
            </div>
          </div>
        </div>

      </div>

    </section>
    <!-- Cliente -->
    <section class="mb-4 card">
      <div class="card-body">
        <div class="d-flex align-items-center mb-2">
          <div class="rounded-circle d-flex justify-content-center align-items-center me-2" style="width:2.3rem; height:2.3rem;">
            👤
          </div>
          <span class="fw-semibold fs-6">Cliente</span>
        </div>
        <div class="small lh-sm">
          <div><span class="text-muted">Nombre:</span> <span class="fw-semibold" x-text="order.client.name"></span></div>
          <div><span class="text-muted">RUC/CI:</span> <span x-text="order.client.ruc_or_ci"></span></div>
        </div>
      </div>

    </section>
    <!-- Envio -->
    <section class="mb-4">
      <div class="d-flex align-items-center mb-2">
        <div class="rounded-circle d-flex justify-content-center align-items-center me-2" style="width:2.3rem; height:2.3rem;">
          🚚
        </div>
        <span class="fw-semibold fs-6">Dirección de envío</span>
      </div>
      <div class="small lh-sm">
        <div><span class="text-muted">Provincia:</span> <span class="fw-semibold" x-text="order.province.name"></span></div>
        <div><span class="text-muted">Cantón:</span> <span x-text="order.canton.name"></span></div>
        <div><span class="text-muted">Dirección:</span> <span x-text="order.shipping.address"></span></div>
        <div><span class="text-muted">Referencia:</span> <span x-text="order.shipping.reference"></span></div>
      </div>
    </section>

    <!-- Productos -->
    <section class="mb-4">
      <div class="d-flex align-items-center mb-2">
        <div class="rounded-circle d-flex justify-content-center align-items-center me-2" style="width:2.3rem; height:2.3rem;">
          👟
        </div>
        <span class="fw-semibold fs-6">Productos</span>
      </div>
      <ul class="list-group shadow-sm mb-2">
        <template x-for="l in order.lines" :key="d.id">
          <li class="list-group-item btn">
              <div class="d-flex align-items-center justify-content-between py-2">
                <span x-text="l.code"></span>
                <div class="badge rounded-pill text-bg-secondary">
                  x
                  <span class="small ms-2" x-text="l.quantity"></span>
                </div>
                <span x-text="decimalUtils.moneyFormat(l.subtotal)"></span>
              </div>
          </li>
        </template>
      </ul>
      <div>
        <div class="d-flex justify-content-end small text-muted">
          Items Subtotal:
          <span class="fw-semibold ms-2" x-text="decimalUtils.moneyFormat(order.subtotal)"></span>
        </div>
        <div class="d-flex justify-content-end small text-muted">
          Envío:
          <span class="fw-semibold ms-2" x-text="decimalUtils.moneyFormat(order.shipping.cost)"></span>
        </div>
        <div class="d-flex justify-content-end small text-muted">
          IVA:
          <span class="fw-semibold ms-2" x-text="`%${order.tax}`"></span>
        </div>
        <hr>
        <div class="d-flex justify-content-end small text-muted">
          Total
          <span class="fw-semibold ms-2 text-dark" x-text="decimalUtils.moneyFormat(order.total)"></span>
        </div>
      </div>

    </section>

    <!-- Pago -->
    <section class="mb-3">
      <div class="d-flex align-items-center mb-2">
        <div class="rounded-circle d-flex justify-content-center align-items-center me-2" style="width:2.3rem; height:2.3rem;">
          💳
        </div>
        <span class="fw-semibold fs-6">Pagos</span>
      </div>
      <div class="small lh-sm">
        <div>
          <span class="text-muted">Fecha:</span>
          <span class="fw-semibold" x-text="payment.date"></span>
        </div>
        <div>
          <span class="text-muted">Método:</span>
          <span class="fw-semibold" x-text="order.payment_method"></span>
        </div>
        <div>
          <span class="text-muted">Monto:</span>
          <span class="fw-semibold" x-text="`$${payment.amount.toFixed(2)}`"></span>
        </div>
        <div>
          <span class="text-muted">Saldo:</span>
          <span :class="(total-payment.amount)>0 ? 'text-danger' : 'text-success'" x-text="calculatePendingAmount(total,payment.amount)"></span>
        </div>
      </div>
    </section>

    <!-- Notas -->
    <section class="mb-4">
      <div class="d-flex align-items-center mb-2">
        <div class="rounded-circle d-flex justify-content-center align-items-center me-2" style="width:2.3rem; height:2.3rem;">
          🗒️
        </div>
        <span class="fw-semibold fs-6">Notas</span>
      </div>
      <ul class="list-group shadow-sm mb-2">
        <li class="list-group-item ">
          <span class="" x-text="order.notes"></span>
        </li>
      </ul>
    </section>

        <!-- Mensaje de error -->
    <template x-if="error">
      <div class="alert alert-danger" x-text="error"></div>
    </template>
  </div>

</div>


{% endblock %}

{% block scripts %}
<script>
function sale_orderDetail(id){
  return{
    id:id, loading:false, error:null, order:{},

    async fetchOrder(){
      this.loading = true; this.error = null;
      try {
        this.order = await helpers.apiFetch('GET', `sale-orders/${id}`);
      } catch (e) {
        this.error = e.message;
        helpers.showToast(e.message, 'danger');
      } finally {
        this.loading = false;
      }
    },


    async changeStatus(newStatus) {
      if (!confirm(`¿Confirmar orden ${newStatus.toLowerCase()}?`)) return;
      this.loading = true;
      try {
        await fetch(`/api/v1/sale-orders/${this.order.id}/status`, {
          method:'PATCH',
          headers:{'Content-Type':'application/json'},
          body:JSON.stringify({status:newStatus})
        });
        this.order.status = newStatus;
        helpers.showToast(`Orden ${newStatus.toLowerCase()} correctamente`, 'success');
      } catch(e) {
        helpers.showToast('Error al actualizar', 'danger');
      } finally { this.loading = false; }
    }


  }
}

</script>

{% endblock %}
