<nav class="flex-column d-none d-md-block px-3 py-4">

    <a href="/sales/index" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
      <i class="bi bi-clipboard2-data fs-4 me-2 text-muted"></i>
      <span class="fs-5">Ventas</span>
    </a>
  
    <a href="/inventory" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
      <i class="bi bi-box-seam fs-4 me-2 text-muted"></i>
      <span class="fs-5">Inventario</span>
    </a>
  
    <a href="/production" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
      <i class="bi bi-gear fs-4 me-2 text-muted"></i>
      <span class="fs-5">Producción</span>
    </a>
  
    <a href="/quality" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
      <i class="bi bi-list-check fs-4 me-2 text-muted"></i>
      <span class="fs-5">Calidad</span>
    </a>
  
    <a href="/finances" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
      <i class="bi bi-cash-coin fs-4 me-2 text-muted"></i>
      <span class="fs-5">Finanzas</span>
    </a>
  
  </nav>
  