<nav class="flex-column d-none d-md-block col-lg-11 mx-auto">
    <a class="link-dark link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
        <div class="d-flex">
            <i class="bi bi-clipboard2-data fs-4 p-2 text-muted"></i>
            <div class="text-black my-auto fs-5 p-2">
                Ventas
            </div>  
        </div>
    </a>
    <a class="link-dark link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
        <div class="d-flex">
            <i class="bi bi-box-seam fs-4 p-2 text-muted"></i>
            <div class="text-black my-auto fs-5 p-2">
                Inventario
            </div>  
        </div>
    </a>
    <a class="link-dark link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
        <div class="d-flex">
            <i class="bi bi-gear fs-4 p-2 text-muted"></i>
            <div class="text-black my-auto fs-5 p-2">
                Producci&oacute;n
            </div>  
        </div>
    </a>
    <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
        <div class="d-flex">
            <i class="bi bi-list-check fs-4 p-2 text-muted"></i>
            <div class="text-black my-auto fs-5 p-2">
                Calidad
            </div>  
        </div>
    </a>

    <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
        <div class="d-flex">
            <i class="bi bi-cash-coin fs-4 p-2 text-muted"></i>
            <div class="text-black my-auto fs-5 p-2">
                Finanzas
            </div>  
        </div>
    </a>

</nav>