{% extends "base.html" %}
{% block title %}Colores de Producto{% endblock %}
{% from 'components/_pageHeader.html' import pageHeader %}
{% block content %}

{{ pageHeader(href='/products/index',
              title='Colores',
              has_btn=True,
              btn_label='Nuevo color',
              btn_href='/products/colors/create'
              ) }}
<div
    x-data="genericList(
      `/api/v1/colors`,
      '/products/colors',
      [
       { field: 'code',  label: 'Códigoo',      filterable: true  },
        { field: 'name',        label: 'Nombre',      filterable: true  },
        { field: 'hex_value',        label: 'HEX',      filterable: true  },

      ]
    )"
  >
  <template x-if="error">
    <div class="alert alert-danger" role="alert" x-text="error"></div>
  </template>

    <!-- Vista de Escritorio (Tabla Genérica) -->
  <div class="d-none d-md-block">
    {% include 'components/listTable.html' %}
  </div>

      <!-- Vista Móvil con Buscador -->
  {% include 'components/listCard.html' %}
</div>




{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/genericList.js') }}"></script>
{% endblock %}
