{% extends "base.html" %}
{% from 'components/detailCard.html' import detail_card %}
{% block title %}Puesto de trabajo{% endblock %}

{% block content %}
<div class="container mt-3" >

  <div x-data="{ href: '/workers/jobs', title: 'Puesto de trabajo' }">
    {% include 'components/_pageHeader.html' %}
  </div>

    <div
      x-data="genericDetail(
        '/api/v1/jobs/{{job_id }}',
        
          [
            
             { field: 'code',        label: 'Código'},
            { field: 'name',  label: 'Nombre' },
            { field: 'description',  label: 'Descripción'},
            { field:'is_active', label:'Status' },
          ],

          '🙋'
        
      )"
    >
    {% include "components/detailCard.html" %}
    
    <!-- Mensaje de error -->
    <template x-if="error">
      <div class="alert alert-danger" x-text="error"></div>
    </template>

  </div>

  <div
    x-data="genericList(
      `/api/v1/workers?job_id={{job_id}}&is_active=True`,
      '/workers',
      [
        { field: 'ci',        label: 'CI',      filterable: true  },
        { field: 'first_name',  label: 'Nombre',      filterable: true  },
        { field: 'last_name',  label: 'Apellido',      filterable: true  },
        { field: 'worker_type',  label: 'TIpo',      filterable: true  },
      ]
    )"

    class="table-responsive"
  >
    {% include 'components/listTable.html' %}
  </div>


  

</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/genericDetail.js') }}"></script>
   <script src="{{ url_for('static', filename='js/genericList.js') }}"></script>
{% endblock %}