{% extends 'base.html' %}
{% block title %}Materiales | Guifer{% endblock %}

{% block content %}
<div class="mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>📦 Materiales</h3>
        <button class="btn btn-dark" @click="window.location.href='/materials/create'">+ Nuevo</button>
    </div>


    <div
    x-data="genericList(
      '/api/v1/materials',
      '/materials',
      [
        { field: 'code',        label: 'Código',      filterable: true  },
        { field: 'detail',        label: 'Nombre',      filterable: true  },
        { field: 'stock', label: 'stock', filterable: true  },
        { field: 'unit', label: 'unidad', filterable: true  }
      ]
    )"
    x-init="init()"
    class="table-responsive"
  >
    {% include 'components/listTable.html' %}
  </div>




{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/genericList.js') }}"></script>
{% endblock %}
