{% extends "base.html" %}
{% block title %}Materiales{% endblock %}
{% from 'components/_pageHeader.html' import pageHeader %}
{% block content %}

{{ pageHeader(href='/inventory/index',
              title='Materiales',
              has_btn=True,
              btn_label='Nuevo material',
              btn_href='/materials/create'
              ) }}



  <div
    x-data="genericList(
      '/api/v1/materials',
      '/materials',
      [
        { field: 'code',        label: 'Código',      filterable: true  },
        { field: 'detail',        label: 'Nombre',      filterable: true  },
        { field: 'stock', label: 'stock', filterable: true  },
        { field: 'unit', label: 'unidad', filterable: true  }
      ]
    )"
    x-init="init()"
    class="table-responsive"
  >
  <template x-if="error">
    <div class="alert alert-danger" role="alert" x-text="error"></div>
  </template>

    <!-- Vista de Escritorio (Tabla Genérica) -->
  <div class="d-none d-md-block">
    {% include 'components/listTable.html' %}
  </div>

      <!-- Vista Móvil con Buscador -->
  <div class="d-md-none">
    {% include 'components/listCard.html' %}
  </div>

</div>



{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/genericList.js') }}"></script>
{% endblock %}
