{% extends "base.html" %}
{% block title %}{{label.series}}{% endblock %}
{% from 'components/_pageHeader.html' import pageHeader%}
{% block content %}

{{ pageHeader(href='/products/index',
              title='Series',
              has_btn=True,
              btn_label='Nueva serie',
              btn_href='/products/series/create'
              ) }}

<div
    x-data="genericList(
      `/api/v1/series`,
      '/products/series',
      [
        { field: 'name',        label: 'Nombre',      filterable: true  },
        { field: 'code',        label: 'Código',      filterable: true  },
        { field: 'start_size',  label: 'Talla inicio',      filterable: true  },
        { field: 'end_size',    label: 'Talla fin',      filterable: true  },
        { field: 'category',    label: 'categoría',      filterable: true  },
      ]
    )"
  >


  <template x-if="error">
    <div class="alert alert-danger" role="alert" x-text="error"></div>
  </template>

    <!-- Vista de Escritorio (Tabla Genérica) -->
  <div class="d-none d-md-block">
    {% include 'components/listTable.html' %}
  </div>

      <!-- Vista Móvil con Buscador -->
  <div class="d-md-none">
    {% include 'components/listCard.html' %}

  </div>

</div>




{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/genericList.js') }}"></script>
{% endblock %}
