<section id="boom" class="mt-3"> 
    <div class="d-flex justify-content-between">
        <div class="h3">
            Explosion de materiales
        </div>
        <div x-data="{ open: false }" >
            <button class="btn" type="button" x-on:click="open = ! open">
                <i class="bi bi-file-earmark-plus-fill"></i>
            </button>
            <div x-show="open">
                <input type="file" class="form-control" name="boom" id="boom">
            </div>
        </div>
    </div>

    <div id="BoomContainer">
        <template x-for="(size_serie, index) in item.boom" :key="index">
            <div class="sizeEntry my-3 border rounded container mx-auto" >
                <div class="d-flex justify-content-between">
                    <h3 x-text="setSizeSerie(index,size_serie.serie)">Serie</h3>
                    <button type="button" class="btn" @click="removeSerie(index)">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
                <hr>
                <div class="form-floating">
                    <select x-bind:name="'boomserie-'+index" x-bind:id="'boomserie-'+index" 
                    x-bind:placeholder="'boomserie'" x-model="size_serie.serie"
                    class="form-select mb-3" required>
                        <option value="">Seleccione una serie</option>
                        <template x-for="serie in series" :key="serie.id">
                            <option :value="serie.id" x-text="serie.name+ ' - ' + 'Tallas: '+ serie.start_size+'-'+serie.end_size" ></option>
                        </template>
                    </select>
                    <label x-bind:for="'boomserie-'+index">Serie</label>
                    <span x-text="size_serie.errors.serie" class="text-danger">
                        <i class="bi bi-exclamation-circle-fill"></i>
                    </span>
                </div>
                <div id="BoomMaterialsContainer">
                    <template x-for="(material, mindex) in item.boom[index].materials" :key="mindex">
                        <div class="materialEntry">
                            <div class="container mt-3 d-flex justify-content-between">
                                <div class="h3" x-text="'Item.' + (mindex+1)"></div>
                                <button type="button" class="btn btn-danger-outline" >
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div> 
                            <div class="container row mb-3 mx-auto">
        
                                <div class="col-md-2 p-1 form-floating">
                                    
                                    <input type="text" x-bind:name="'items-' + index + '-' + mindex + '-code'" x-bind:id="'items-' + index + '-' + mindex +'-code'"  
                                    x-bind:placeholder="'code'" x-model="material.code" @change="searchMaterial(material.code, index, mindex)"
                                    @input="material.code=material.code.toUpperCase()" class="form-control" />
                                    <label x-bind:for="'items-' + index +'-' + mindex + '-code'"><small>Codigo</small></label>
                                    <span x-text="material.errors.code" class="text-danger">
                                        <i class="bi bi-exclamation-circle-fill"></i>
                                    </span>
                                </div>
                                <div class="col-md-6 p-1 form-floating">
                            
                                    <input type="text" x-bind:name="'items-' + index +'-' + mindex + '-name'"  x-bind:id="'items-' + index + '-' + mindex +'-name'"
                                    x-bind:placeholder="'Material'" x-model="material.name" class="form-control px-0" />
                                    <label x-bind:for="'items-' + index +'-' + mindex + '-name'"><small>Material</small></label>
                                    <span x-text="material.errors.name" class="text-danger">
                                        <i class="bi bi-exclamation-circle-fill"></i>
                                    </span>
                                </div>
                               
                                <div class="col-md-2 col-6 p-1 form-floating">
                                    
                                    <input type="number" x-bind:name="'items-' + index +'-' + mindex + '-qty'" x-bind:id="'items-' + index + '-' + mindex +'-qty'"
                                    x-bind:placeholder="'Cantidad'" x-model="material.qty" class="form-control px-0" />
                                    <label x-bind:for="'items-' + index +'-' + mindex + '-qty'"><small>Cant</small></label>
                                    <span x-text="material.errors.qty" class="text-danger">
                                    </span>
                                </div>
                                <div class="col-md-2 col-6 p-1 form-floating">
                                    
                                    <input type="text" x-bind:name="'items-' + index +'-' + mindex + '-unit'" x-bind:id="'items-' + index + '-' + mindex +'-unit'"
                                    x-bind:placeholder="'Unidad'" x-model="material.unit" class="form-control px-0" />
                                    <label x-bind:for="'items-' + index + '-' + mindex +'-unit'"><small>Unidad</small></label>
                                </div>
                        </div>
                                                     
                    </template>
                </div>
                <button type="button" class="btn btn-dark" @click="addMaterial(index)">Agregar Material</button>
            </div>
        </template>  
    </div>
    <button type="button" class="btn btn-secondary" @click="addSerie">Agregar Explosion de Materiales</button>

</section>