{% from 'macros.html' import render_input_float, render_input %}
<section>
    <form id="modelForm" method="post" novalidate enctype="multipart/form-data" x-data="newModelForm()" x-init='init({{form_data|tojson}}, {{boom_materials|tojson}});'>

        {{ form.hidden_tag() }}
        
        
        <div class="form-floating">
                    
            <select x-bind:name="'line'" x-bind:id="'line'" 
            x-bind:placeholder="'line'" x-model="item.line" 
            @change="updateCode()"
            class="form-select" required>
                <option value="">Seleccione una linea</option>
                <template x-for="line in lines" :key="line.id">
                    <option :value="line.id" x-text="line.code+ '-'+ line.name" ></option>
                </template>
            </select>
            <label for="line">Linea</label>
            <span x-text="item.errors.line" class="text-danger">
                <i class="bi bi-exclamation-circle-fill"></i>
            </span>
        </div>

        <div class="form-floating">
                    
            <select x-bind:name="'subline'" x-bind:id="'subline'" 
            x-bind:placeholder="'subline'" x-model="item.subline" 
            @change="updateCode()"
            class="form-select" required>
                <option value="">Seleccione una sublinea</option>
                <template x-for="subline in sublines" :key="subline.id">
                    <option :value="subline.id" x-text="subline.code+ '-'+ subline.name" ></option>
                </template>
            </select>
            <label for="subline">subLinea</label>
            <span x-text="item.errors.subline" class="text-danger">
                <i class="bi bi-exclamation-circle-fill"></i>
            </span>
        </div>

        
    
        <div class="form-floating">
                    
            <select x-bind:name="'color'" x-bind:id="'color'" 
            x-bind:placeholder="'color'" x-model="item.color" 
            @change="updateCode()"
            class="form-select" required>
                <option value="">Seleccione un color</option>
                <template x-for="color in colors" :key="color.id">
                    <option :value="color.id" x-text="color.code+ '-'+ color.name" ></option>
                </template>
            </select>
            <label for="color">Color</label>
            <span x-text="item.errors.color" class="text-danger">
                <i class="bi bi-exclamation-circle-fill"></i>
            </span>
        </div>



        <div class="form-floating">
                    
            <input type="text" x-bind:name="'code'" x-bind:id="'code'"  
            x-bind:placeholder="'code'" x-model="item.code"
            @input="item.code=item.code.toUpperCase()" class="form-control" />
            <label x-bind:for="'code'">Codigo</label>
            <span x-text="item.errors.code" class="text-danger">
                <i class="bi bi-exclamation-circle-fill"></i>
            </span>
        </div>

        {{ render_input_float(form.description) }}

        {{ render_input(form.images, value='Elegir im&aacute;genes') }}     
       

        <div class="input-group">
            <input x-ref="fileInput" type="file" class="form-control" id="file" 
            aria-describedby="upload_file" aria-label="Cargar" placeholder="Elegir archivo">
            <button class="btn btn-dark" type="button" id="upload_file" @click="uploadFile()">Cargar</button>
        </div>
      
      
        <section id="fileData">
            <h2 class="my-3">Explosi&oacute;n de materiales</h2>
            <div class="container">
                <template x-for="(item, index) in items" :key="index">
                    <div>
                        <div class="row">
                            <div x-text="'Item '+(toInt(index)+1)" class="col fs-5"></div>
                            <div class="col-2">
                                <button type="button" class="btn btn-close" @click="removeItem(index)"></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 px-0">
                                <div class="form-floating mb-3">           
                                    <input type="text" x-bind:name="'items-' + index + '-serie'" class="form-control"
                                    x-model="item.serie" x-bind:id="'items-' + index + '-serie'" @input="item.serie=item.serie.toUpperCase()"
                                    @change="searchSerie(item.serie, index)"> 
        
                                    <label :for="'items-' + index + '-serie'">Serie</label>
                                    <span x-text="itemErrors.serie" class="text-danger">
                                        <i class="bi bi-exclamation-circle-fill"></i>
                                    </span>
                                </div>  
                            </div>

                            <div class="col-md-2 px-0">
                                <div class="form-floating mb-3">           
                                    <input type="text" x-bind:name="'items-' + index + '-code'" class="form-control"
                                    x-model="item.code" x-bind:id="'items-' + index + '-code'" @change="searchMaterial(item.code, index)"
                                    @input="item.code=item.code.toUpperCase()">  
        
                                    <label :for="'items-' + index + '-code'">C&oacute;digo</label>
                                    <span x-text="itemErrors.code" class="text-danger">
                                        <i class="bi bi-exclamation-circle-fill"></i>
                                    </span>
                                </div>  
                            </div>
                            
                            <div class="col-md-4 px-0">
                                <div class="form-floating mb-3">           
                                    <input type="text" readonly x-bind:name="'items-' + index + '-detail'"  class="form-control"
                                    x-model="item.detail" x-bind:id="'items-' + index + '-detail'" x-text="item.detail"></input>
        
                                    <label :for="'items-' + index + '-detail'">Detalle</label>
                                    <span x-text="itemErrors.detail" class="text-danger">
                                        <i class="bi bi-exclamation-circle-fill"></i>
                                    </span>
                                </div>  
                            </div>
                            <div class="col-md-2 px-0">
                                <div class="form-floating mb-3">           
                                    <input type="number" x-bind:name="'items-' + index + '-qty'"  class="form-control"
                                    x-model="item.qty" x-bind:id="'items-' + index + '-qty'">
                                    <label :for="'items-' + index + '-qty'">Cantidad</label>
                                    <span x-text="itemErrors.qty" class="text-danger">
                                        <i class="bi bi-exclamation-circle-fill"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-1 px-0">
                                <div class="form-floating mb-3">           
                                    <input type="text" readonly  x-bind:name="'items-' + index + '-unit'" class="form-control-plaintext" 
                                    x-model="item.unit" x-bind:id="'items-' + index + '-unit'" x-text="item.unit"></input>
                                    <label :for="'items-' + index + '-unit'">Unidad</label>
                                    <span x-text="itemErrors.unit" class="text-danger">
                                        <i class="bi bi-exclamation-circle-fill"></i>
                                    </span>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                        <div>
                            <template x-for="error in item.errors">
                                <p x-bind:name="'items-' + index + '-errors'" 
                                x-model="error.errors" x-bind:id="'items-' + index + '-errors'" x-text="error"></p>
                            </template>
                        </div>
                        
                    </div>
                    
                </template>

            
                <button type="button" @click="addItem()" class="btn btn-secondary">Add Item</button>
            </div>
        </section>
        {{ form.submit(class='btn btn-dark mt-3') }}
    </form>



      
  

    <div class="offcanvas offcanvas-end bg-body-tertiary" data-bs-theme="dark" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="linep" aria-labelledby="lineLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="lineLabel">Linea</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            {% include 'products/lines/__lineForm.html' %}
          </div>
        </div>
    </div>   
    <div class="offcanvas offcanvas-end bg-body-tertiary" data-bs-theme="dark"  data-bs-scroll="true" data-bs-backdrop="false"  id="sublinef" aria-labelledby="sublineLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sublineLabel">SubLinea</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {% include 'products/sublines/__sublineForm.html' %}
        </div>
    </div> 
</section>

<script>
    function newModelForm(){
    return{

        //
        item: { code: '', color: '', line: '', subline: '', errors: ''},

        items: [],
        //compnentes para select inputs
        lines: [],
        sublines: [],
        colors: [],

        addItem() {
            this.items.push({
                serie: '', 
                serie_sizes:'',
                code: '', 
                detail: '',  
                qty: '', 
                unit: '', 
                errors: ''
            });
        },

        removeItem(index) {
            this.items.splice(index, 1); // Elimina el material por índice
        },


        async uploadFile() {
            const fileInput = this.$refs.fileInput.files[0];

            if (!fileInput) {
                alert("Por favor, selecciona un archivo antes de subirlo.");
                return;
            }

            const formData = new FormData();
            formData.append("file", fileInput);
            const csrfToken = document.querySelector('input[name="csrf_token"]').value;
            try {
                const response = await fetch("/api/v1/bomfile/upload", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": csrfToken // Incluye el token en los headers
                    },
                    body: formData
                });

                const result = await response.json();
                
                if (response.ok) {
                    let boomMaterials = result;
                    console.log(boomMaterials.boom)
                    console.log('vs ee', boomMaterials['boom']);
                    if (boomMaterials['boom']!=undefined && boomMaterials['boom'].length > 0) {
                
                        for(let i=0; i<boomMaterials.boom.length; i++){
                            let item = boomMaterials.boom[i];                  
                            let new_item = {
                                serie: item.serie_code,
                                serie_sizes:item.serie_sizes,
                                code: item.material_code,
                                detail:item.detail,
                                unit: item.unit,
                                qty: item.qty,
                                errors: item.errors
                            }
                            this.items.push(new_item);
                            console.log(';itempuhcado')
                            
                                
                        }
                            
                    }
                } else {
                    console.error("Errores en el archivo:", result.errors || result.error);
                }
            } catch (error) {
                console.error("Error en la solicitud:", error);
            }
        },

        
        async searchSerie(query,index){
            if(query.length>0){
                
                query = 'code='+query;
                
                console.log('Esta es la query'+query)

                try {
                    const response = await fetch(`/api/v1/sizeSeries?q=${query}`);
                    if (response.ok) {
                        let serie = await response.json();                      
                        
                        if (serie.name == null || serie.name == 0){
                            this.items[index]['serie_sizes'] = 'No existe'
                        }else{
                            this.items[index]['serie_sizes'] = serie.start_size +'-'+serie.end_size
                        }

                    } else {

                        console.error("Error al cargar las series");
                    }
                } catch (error) {
                    console.error("Hubo un problema con la solicitud:", error);
                }
            }
        },


        searchMaterial(query, index) {
            if (query.length > 0) {
                query = '<by_code>' + query
                console.log(query)
                fetch(`/api/v1/materials?q=${query}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        console.log(data[0].name); 
                        console.log(data[0].unit); 
                        if (data[0].name==null){
                            this.items[index]['detail'] = 'Codigo no existe'
                            this.items[index]['errors'] = 'Codigo no existe'
                        }
                        else{
                            this.items[index]['detail'] = data[0].name
                            this.items[index]['unit'] = data[0].unit
                        }
                        
                        //console.log(this.items[index]['material'])
                    });
            }
        },


        async fetchLines() {
            try {
                const response = await fetch('/api/v1/lines');
                if (response.ok) {
                    this.lines = await response.json();
                    console.log('carga lineas')
                } else {
                    console.error("Error al cargar las lineas");
                }
            } catch (error) {
                console.error("Hubo un problema con la solicitud:", error);
            }
        },

        async fetchSubLines() {
            try {
                const response = await fetch('/api/v1/sublines');
                if (response.ok) {
                    this.sublines = await response.json();
                } else {
                    console.error("Error al cargar las sublineas");
                }
            } catch (error) {
                console.error("Hubo un problema con la solicitud:", error);
            }
        },

        async fetchColors() {
            try {
                const response = await fetch('/api/v1/colors');
                if (response.ok) {
                    this.colors = await response.json();
                } else {
                    console.error("Error al cargar colores");
                }
            } catch (error) {
                console.error("Hubo un problema con la solicitud:", error);
            }
        },

        async init(form_data, boomMaterials) {
            await this.fetchLines();
            await this.fetchSubLines();
            await this.fetchColors();

            

            if(form_data!=undefined){
                this.item.code = form_data.code
                this.item.line = form_data.line
                this.item.subline = form_data.subline
                this.item.color = form_data.color
                this.item.errors = form_data.errors
                console.log('errore sinside isi', this.item.errors)
            }
            if (boomMaterials!=undefined && boomMaterials.length > 0) {
                console.log(boomMaterials)
                for(let i=0; i<boomMaterials.length; i++){
                    let item = boomMaterials[i];                  
                    let new_item = {
                        serie: item.serie,
                        serie_sizes: item.serie_sizes,
                        code: item.code,
                        detail:item.detail,
                        unit: item.unit,
                        qty: item.qty,
                        
                    }
                    this.items.push(new_item);
                    console.log(';itempuhcado')
                    
                        
                }
                    
            }
            
        },

        async fetchLineCode() {
            try {
                const response = await fetch(`/api/v1/lines/${this.item.line}`);
                if (response.ok) {
                    const line = await response.json();
                    return line.code;
                } else {
                    console.error("Error al cargar la línea");
                }
            } catch (error) {
                console.error("Hubo un problema con la solicitud:", error);
            }
            return '';
        },

        async fetchSubLineCode() {
            try {
                const response = await fetch(`/api/v1/sublines/${this.item.subline}`);
                if (response.ok) {
                    const subline = await response.json();
                    return subline.code;
                } else {
                    console.error("Error al cargar la sublínea");
                }
            } catch (error) {
                console.error("Hubo un problema con la solicitud:", error);
            }
            return '';
        },

        async fetchColorCode() {
            try {
                const response = await fetch(`/api/v1/colors/${this.item.color}`);
                if (response.ok) {
                    const color = await response.json();
                    return color.code;
                } else {
                    console.error("Error al cargar codigo de color");
                }
            } catch (error) {
                console.error("Hubo un problema con la solicitud:", error);
            }
            return '';
        },

        async fetchNextModelCode(subCode) {
            try {
                const response = await fetch(`/api/v1/next_code_model/${subCode}`);
                if (response.ok) {
                    const nextCode = await response.json();
                    return nextCode;
                } else {
                    console.error("Error al cargar el codigo");
                }
            } catch (error) {
                console.error("Hubo un problema con la solicitud:", error);
            }
            return '';
        },

        async updateCode() {
            let lineCode = '';
            let sublineCode = '';
            let colorCode = '';
            if (this.item.line){
                lineCode = await this.fetchLineCode();
            }
            if(this.item.subline){
                sublineCode = await this.fetchSubLineCode();
            }
            if (this.item.color ){
                colorCode = await this.fetchColorCode()
            }
            
            let subCode = lineCode + sublineCode;
            if(lineCode){
                next_code = await this.fetchNextModelCode(subCode)
                this.item.code = next_code.next_code + colorCode;
            }else{
                this.item.code = '';
            }
        }

    }
}

</script>