{% from 'macros.html' import render_input_float, render_input, render_errors %}
<section>
    <form id="modelForm" method="post" novalidate enctype="multipart/form-data" x-data='newModelForm({{form_data|tojson}})' >

        {{ form.hidden_tag() }}
        
        
        <div class="form-floating">
                    
            <select x-bind:name="'line_id'" x-bind:id="'line_id'" 
            x-bind:placeholder="'line'" x-model="item.line" 
            @change="updateCode()"
            class="form-select" required>
                <option value="">Seleccione una linea</option>
                <template x-for="line in lines" :key="line.id">
                    <option :value="line.id" x-text="line.code+ '-'+ line.name" ></option>
                </template>
            </select>
            <label for="line_id">Linea</label>
            {{render_errors(form.line_id)}}
        </div>
        <div class="form-floating">
                    
            <select x-bind:name="'subline_id'" x-bind:id="'subline_id'" 
            x-bind:placeholder="'subline'" x-model="item.subline" 
            @change="updateCode()"
            class="form-select" required>
                <option value="">Seleccione una sublinea</option>
                <template x-for="subline in sublines" :key="subline.id">
                    <option :value="subline.id" x-text="subline.code+ '-'+ subline.name" ></option>
                </template>
            </select>
            <label for="subline">subLinea</label>
            {{render_errors(form.subline_id)}}
    </div>

    
    <div id="colors">
        <template x-for="(color, index) in selectedColors" :key="index">
            <div>
                <div class="input-group mb-2">
                    <!-- Select dinámico para elegir un color -->
                    <div class="form-floating flex-grow-1" :id="'colors-'+index">
                        <select 
                            x-bind:name="'colors-' + index  +'-color'" 
                            x-bind:id="'colors-' + index + '-color'"
                            x-model="color.id" 
                            class="form-select" 
                            required
                            @change="updateCode()"
                        >
                            <option value="" >Seleccione un color</option>
                            <template x-for="option in colors" :key="option.id">
                                <option 
                                    :value="option.id" 
                                    x-text="option.code + '-' + option.name" 
                                    :disabled="isColorSelected(option.id) && color.id != option.id"
                                     ></option>
                            </template>
                        </select>
                        <label :for="'colors-'+index+'-color'">Color</label>
                    </div>
                    
                    <!-- Botón para eliminar el color -->
                    <button class="btn btn-outline-dark" type="button" @click="removeColor(index)">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    
                </div>
                {{render_errors(form.colors)}}
            </div>
            
        </template>
        
    </div>  
    
        
        <div class="my-2 text-end">
            <button class="btn btn-dark" @click="addColor()" type="button">Agregar color
                <i class="bi bi-palette-fill"></i>
            </button>
        </div>
        

        <div class="form-floating">
                    
            <input type="text" x-bind:name="'code'" x-bind:id="'code'"  
            x-bind:placeholder="'code'" x-model="item.code"
            @input="item.code=item.code.toUpperCase()" class="form-control" />
            <label for="code">Codigo</label>
            {{render_errors(form.code)}}
        </div>

        <div class="form-floating">
            <input type="text" x-bind:name="'name'" x-model="item.name" x-bind:id="'name'" class="form-control" placeholder="Nombre">
            <label for="name">Nombre</label>
            {{render_errors(form.name)}}
        </div>

        <div class="form-floating">
            <input type="text" x-bind:name="'description'" x-model="item.description" x-bind:id="'description'" class="form-control" placeholder="Descripción">
            <label for="description">Nombre</label>
            {{render_errors(form.description)}}
        </div>

        

        <div>
            <label for="images">Im&aacute;genes</label>
           
            <input type="file" id="images" name="images" class="form-control" multiple @change="handleImageUpload" ref="imageInput">
            {{render_errors(form.images)}}   
        </div>


        <div id="imagePreviews" class="d-flex flex-wrap mt-2">
            <template x-for="(image, index) in newImages" :key="index">
            <div class="position-relative m-2">
                <img :src="image.url" alt="Image preview" class="img-thumbnail" style="width: 100px; height: 100px;">
                <button type="button" class="btn btn-close position-absolute top-0 end-0" @click="removeImage(index)">
                </button>
            </div>
            </template>
        </div>

        <div class="d-flex flex-wrap mt-2" style="max-width: 100%;">
            <template x-for="(image, index) in images" :key="index">
                <div class="position-relative m-2">
                    <img 
                        :src="image.url" 
                        class="img-thumbnail" 
                        style="max-height: 100px; cursor: pointer;" 
                        alt="Thumbnail">
                        <button type="button" class="btn btn-close position-absolute top-0 end-0" @click="removeExistingImage(index)">
                        </button>
                </div>
            </template>
        </div>
    

        
      
        <section id="fileData">
            <h2 class="my-3">Explosi&oacute;n de materiales</h2>
            <div class="input-group">
                <input x-ref="fileInput" type="file" class="form-control" id="file" 
                aria-describedby="upload_file" aria-label="Cargar" placeholder="Elegir archivo">
                <button class="btn btn-dark" type="button" id="upload_file" @click="uploadFile()">Cargar</button>
            </div>

            <div class="table-responsive" x-show="items.length > 0">
                <table class="table table-hover">

                    <thead>
                        <th>Serie</th>
                        <th>C&oacute;digo</th>
                        <th >Descripción</th>
                        <th></th>
                        <th></th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <template x-for="(item, index) in items" :key="index">
                            <tr >
                                
                                <td class="px-1">
                                              
                                    <input type="text" x-bind:name="'items-' + index + '-serie'" class="form-control px-1"
                                    x-model="item.serie" x-bind:id="'items-' + index + '-serie'" @input="item.serie=item.serie.toUpperCase()"
                                    @change="searchSerie(item.serie, index)"> 
                                       
                                </td>
        
                                <td class="px-1">                           
                                    <input type="text" x-bind:name="'items-' + index + '-code'" class="form-control px-1"
                                    x-model="item.code" x-bind:id="'items-' + index + '-code'" @change="searchMaterial(item.code, index)"
                                    @input="item.code=item.code.toUpperCase()">       
                                </td>
                                    
                                <td class="px-1" colspan="3">
                                    <p type="text"  x-bind:name="'items-' + index + '-detail'"  class="px-1"
                                    x-text="item.detail" x-bind:id="'items-' + index + '-detail'" x-text="item.detail"></p>
                                    
                                </td>
                                <td class="px-1">                        
                                    <input type="number" x-bind:name="'items-' + index + '-qty'"  class="form-control px-1"
                                    x-model="item.qty" x-bind:id="'items-' + index + '-qty'">
                                    
                                </td>
                                <td class="px-1">                           
                                    <input type="text" readonly  x-bind:name="'items-' + index + '-unit'" class="form-control-plaintext" 
                                    x-model="item.unit" x-bind:id="'items-' + index + '-unit'" x-text="item.unit"></input>
                                      
                                </td>                    
                            
                                <td >
                                    <button type="button" class="btn btn-close" @click="removeItem(index)"></button>
                                </td>
                                
                            </tr>
                            
                        </template>
                       
                    </tbody>
                
                </table>
                
               
            </div>

            {{ render_errors(form.items) }}
            <button type="button" @click="addItem()" class="btn btn-secondary">Add Item</button>
        </section>
        {{ form.submit(class='btn btn-dark mt-3') }}
    </form>



      
  

    
</section>

<script>
    /**
     * Initializes a new model form with the provided form data.
     * This function sets up the form's state, including items, colors, and images.
     * It also provides methods to handle form interactions such as adding/removing items and colors,
     * uploading files, and fetching data from the server.
     * 
     * @param {Object} form_data - The initial data to populate the form.
     * @returns {Object} - The form's state and methods.
     */
    function newModelForm(form_data){
    return{
        
        item: { code: '',  line: '', subline: '', name:'', description:''},
        selectedColors:[{'id':''}],
        newImages: [],
        items: [],
        lines: [],
        sublines: [],
        colors: [],
        images: [],
        selectedImages: [],

        addColor() {
                // Añadir un nuevo color vacío (sin valor seleccionado)
                this.selectedColors.push({ id: '' });
            },

        addItem() {
            this.items.push({
                serie: '', 
                serie_sizes:'',
                code: '', 
                detail: '',  
                qty: '', 
                unit: '', 
                errors: ''
            });
        },

        removeItem(index) {
            this.items.splice(index, 1); // Elimina el material por índice
        },

        removeColor(index) {
            // Eliminar un color del formulario
            this.selectedColors.splice(index, 1);
            this.updateCode();
      
        },

        isColorSelected(colorId) {
            // Validar si un color ya está seleccionado
            is_selected = this.selectedColors.some(color => parseInt(color.id) === colorId);
            return is_selected
        },


        async uploadFile() {
            const fileInput = this.$refs.fileInput.files[0];

            if (!fileInput) {
                alert("Por favor, selecciona un archivo antes de subirlo.");
                return;
            }

            const formData = new FormData();
            formData.append("file", fileInput);
            const csrfToken = document.querySelector('input[name="csrf_token"]').value;
            try {
                const response = await fetch("/api/v1/bomfile/upload", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": csrfToken // Incluye el token en los headers
                    },
                    body: formData
                });

                const result = await response.json();
                
                if (response.ok) {
                    let boomMaterials = result;
                    console.log(boomMaterials.boom)
                    console.log('vs ee', boomMaterials['boom']);
                    if (boomMaterials['boom']!=undefined && boomMaterials['boom'].length > 0) {
                
                        for(let i=0; i<boomMaterials.boom.length; i++){
                            let item = boomMaterials.boom[i];                  
                            let new_item = {
                                serie: item.serie_code,
                                serie_sizes:item.serie_sizes,
                                code: item.material_code,
                                detail:item.detail,
                                unit: item.unit,
                                qty: item.qty,
                                errors: item.errors
                            }
                            this.items.push(new_item);
                            console.log(';itempuhcado')
                            
                                
                        }
                            
                    }
                } else {
                    console.error("Errores en el archivo:", result.errors || result.error);
                }
            } catch (error) {
                console.error("Error en la solicitud:", error);
            }
        },

        
        async searchSerie(query,index){
            if(query.length>0){
                
                query = 'code='+query;
                
                console.log('Esta es la query'+query)

                try {
                    const response = await fetch(`/api/v1/sizeSeries?q=${query}`);
                    if (response.ok) {
                        let serie = await response.json();                      
                        
                        if (serie.name == null || serie.name == 0){
                            this.items[index]['serie_sizes'] = 'No existe'
                        }else{
                            this.items[index]['serie_sizes'] = serie.start_size +'-'+serie.end_size
                        }

                    } else {

                        console.error("Error al cargar las series");
                    }
                } catch (error) {
                    console.error("Hubo un problema con la solicitud:", error);
                }
            }
        },


        searchMaterial(query, index) {
            if (query.length > 0) {
                query = '<by_code>' + query
                console.log(query)
                fetch(`/api/v1/materials?q=${query}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        console.log(data[0].name); 
                        console.log(data[0].unit); 
                        if (data[0].name==null){
                            this.items[index]['detail'] = 'Codigo no existe'
                            this.items[index]['errors'] = 'Codigo no existe'
                        }
                        else{
                            this.items[index]['detail'] = data[0].name
                            this.items[index]['unit'] = data[0].unit
                        }
                        
                        //console.log(this.items[index]['material'])
                    });
            }
        },

        async fecthSerie(serie_id){
            try {
                const response = await fetch(`/api/v1/sizeSeries/${serie_id}`); 
                if (response.ok) {
                    let serie_code = await response.json();
                    console.log(serie_code)
                    return serie_code;  
                } else {
                    console.error("Error al cargar la serie");
                }
            } catch (error) {
                console.error("Hubo un problema con la solicitud:", error);
            }
        },

        async fecthMaterial(material_id){
            try {
                const response = await fetch(`/api/v1/materials/${material_id}`); 
                if (response.ok) {
                    let material = await response.json();
                    console.log(material)
                    return material;  
                } else {
                    console.error("Error al cargar el material");
                }
            } catch (error) {
                console.error("Hubo un problema con la solicitud:", error);
            }
        },

        async fetchLines() {
            try {
                const response = await fetch('/api/v1/lines');
                if (response.ok) {
                    this.lines = await response.json();
                    
                } else {
                    console.error("Error al cargar las lineas");
                }
            } catch (error) {
                console.error("Hubo un problema con la solicitud:", error);
            }
        },

        async fetchSubLines() {
            try {
                const response = await fetch('/api/v1/sublines');
                if (response.ok) {
                    this.sublines = await response.json();
                } else {
                    console.error("Error al cargar las sublineas");
                }
            } catch (error) {
                console.error("Hubo un problema con la solicitud:", error);
            }
        },

        async fetchColors() {
            try {
                const response = await fetch('/api/v1/colors');
                if (response.ok) {
                    this.colors = await response.json();
                } else {
                    console.error("Error al cargar colores");
                }
            } catch (error) {
                console.error("Hubo un problema con la solicitud:", error);
            }
        },

        

        async init() {
            await this.fetchLines();
            await this.fetchSubLines();
            await this.fetchColors();     
            console.log('form_data: ', form_data)
            
            if(form_data!== undefined){
                this.item.code = form_data.code;
                this.item.name = form_data.name;
                this.item.description = form_data.description;
                this.item.line = form_data.line;
                this.item.subline = form_data.subline;
                this.selectedColors = form_data.colors.map(color => (color));
                this.images = form_data.images.map(image => ({'id':image.id, 'url':`/${image.url}`}));
                this.items = await Promise.all(form_data.items.map(async item => {
                    let serie = await this.fecthSerie(item.serie_id);
                    let material = await this.fecthMaterial(item.material_id);
                    item.serie = serie.name;
                    item.code = material.code
                    item.qty = item.qty;
                    item.detail = material.name
                    item.unit = material.unit
                    return item;
                }));
                console.log('items: ', this.items);
                console.log('selected_colors: ', this.selectedColors);
                console.log('selected_images: ', this.selectedImages);
            }
        },

        async fetchNextModelCode(subCode) {
            const queryParams = new URLSearchParams({
                    line: subCode.line,
                    subline: subCode.subline,
                    colors: subCode.colors.join('') // Join color codes without any separator
                }).toString();        
            try {
                const response = await fetch(`/api/v1/next_code_model?${queryParams}`);
                if (response.ok) {
                    const nextCode = await response.json();
                    console.log('nextCode', nextCode)
                    return nextCode;
                } else {
                    console.error("Error al cargar el codigo");
                }
            } catch (error) {
                console.error("Hubo un problema con la solicitud:", error);
            }
            return '';
        },

        async updateCode() {
            try{
                
                const lineCode = this.lines.find(line => line.id == this.item.line).code || '';

                const sublineCode = this.item.subline ? this.sublines.find(subline => subline.id == this.item.subline).code : '';
                // IDs que quieres buscar
                const idsToFind = this.selectedColors.map(item => parseInt(item.id));

                console.log('selected_colors: ', this.selectedColors)
                // Filtra los items cuyos IDs están en `idsToFind` 
                const filteredCodes = idsToFind
                    .map(id => this.colors.find(item => item.id === id)) // Find the color object by id
                    .filter(item => item !== undefined) // Filter out undefined values (if any)
                    .map(item => item.code); // Map to the color codes
                console.log('filteredClors: ', filteredCodes)

                let subCode = {
                    line: lineCode,
                    subline: sublineCode,
                    colors: filteredCodes
                }

                if (lineCode) {
                        const nextCode = await this.fetchNextModelCode(subCode);
                        this.item.code = nextCode.next_code
                } else {
                        this.item.code = '';
                }    
            }catch(error){
                console.error('errore:', error)
            }
        },

        handleImageUpload(event) {
            const files = event.target.files;
            if (!files.length) {
                return;
            }
            this.newImages = [];
            for (let i = 0; i < files.length; i++) {
                const reader = new FileReader();
                reader.onload = (e) => {
                    this.newImages.push({ url: e.target.result, file });
                    this.updateImageInput();
                };
                reader.readAsDataURL(files[i]);
            }
        },
        updateImageInput() {
            const dataTransfer = new DataTransfer();
            this.newImages.forEach(image => {
                dataTransfer.items.add(image.file);
            });
            this.$refs.imageInput.files = dataTransfer.files;
        },

        removeExistingImage(index) {
            this.selectedImages.splice(index, 1);
            this.updateImageInput()
        },

        removeImage(index) {
            this.newImages.splice(index, 1);
            this.updateImageInput();
        }

    }
}

</script>