{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>

<section>
    <div class="d-flex justify-content-end mb-3">
        <a href="{{ url_for('products.add_product_massive_upload') }}" class="btn btn-dark">
            Carga masiva
            <i class="bi bi-file-earmark-plus-fill"></i>
        </a>
    </div>
    
</section>

<section>
    {% include 'products/models/__productForm.html' %}
</section>

{% endblock %}