{% extends "base.html" %}
{% block title %}Ficha de operaciones{% endblock %}
{% block content %}

<div x-data="{ href: '/production/operations', title: 'Procesos' }">
    {% include 'components/_pageHeader.html' %}
</div>

<div x-html="window.guifer.components.btn.createBtn({
    href: '/production/operations-sheet/create',
    label: 'Nuevo proceso',
    float: false
})">
</div>

<div
    x-data="genericList(
      '/api/v1/operations',
      '/production/operations-sheet',
      [
        { field: 'code',        label: 'Código',      filterable: true  },
        { field: 'name',        label: 'Nombre',      filterable: true  },
    
      ]
    )"
    x-init="init()"
    class="table-responsive"
  >
    {% include 'components/listTable.html' %}
  </div>

