<form @submit.prevent="createCollection" class="needs-validation " autocomplete="off" x-data="createCollection()" x-init="init()">
  <div class="container pt-3 pb-5 px-2 rounded" style="max-width: 480px">

    <div class="form-floating mb-3">
      <select name="line" class="form-select form-control" x-model="collection.line" id="" required @change="previewCode()">
        <option value="" disabled>Seleccione línea</option>
        <template x-for="line in lines" :key="line.id">
          <option :value="line.id" x-text="line.name"></option>
        </template>
      </select>
      <label for="line">Línea</label>
    </div>
    <div class="mb-3" x-show="preview_code">
      <div class="alert alert-secondary">Código: <strong  x-text="preview_code"></strong></div>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" x-model="collection.name" placeholder="Nombre de colección" required>
      <label class="ps-4 text-muted">Nombre de la colección</label>
    </div>



    <div class="form-floating mb-3">
      <textarea class="form-control" x-model="collection.description" placeholder="Descripción" style="height: 100px"></textarea>
      <label class="">Descripción</label>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-dark" :disabled="loading" @click="createCollection">Crear colección</button>
    </div>
  </div>

</form>
<script>


function createCollection() {
  return {
    collection: { line:'', name: '', description: '', code:'' },
    existing_code: false,
    error: '',
    preview_code: '',
    loading: false,
    lines: [],


    init() {
      this.fetchLines();
    },


    async previewCode() {
      try{
        const res = await fetch(`/api/v1/product-collections/preview-code?q=${this.collection.line}`);
        const data = await res.json();
        this.preview_code = data.preview_code;
        this.collection.code = data.preview_code;
        return data.preview_code;
      }catch (err) {
        console.error('Error previewing code:', err);
      }
    },

    async fetchLines(){
      try{
        const res = await window.guifer.helpers.fetch.apiFetch('GET', 'product-lines');
        this.lines = res;
        console.log('lines: ', this.lines);
      }catch(err){
        console.error('Error fetching lines:', err);
        this.error = 'Error fetching lines';
      }
    },

    async createCollection() {

      if(this.loadig === true)return
      this.loading = true;
      try {
        const payload = {
          ...this.collection,
        };
        const res = await fetch('/api/v1/product-collections', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(payload)
        });

        if (!res.ok) throw new Error('Error creando la colección');
        window.location.href = '/products/collections';
      } catch (error) {
        console.error('Error creando colección:', error);
        alert('Ocurrió un error al crear la colección. Revisa la consola.');
      }
    }
  }
}
</script>
