<div x-data="detail({{id}})">
    <template x-if="error">
        <div x-text="error" class="alert alert-danger" role="alert"></div>
    </template>
    <template x-if="message">
        <div x-text="message" class="alert-success" role="alert"></div>
    </template>

    <div class="card bg-light border-0">
        <div class="card-body px-0">
            <!-- Fila de Estado -->
            <div class="d-flex justify-content-end mb-2">
                <span
                    class="badge"
                    :class="collection.is_active ? 'text-bg-success' : 'text-bg-secondary'"
                    x-text="collection.is_active ? 'Activo' : 'Inactivo'">
                </span>
            </div>

            <div class="mb-3">

                <div class="text-muted">Nombre de {{label.collection}}</div>
                <button class="d-flex justify-content-between rounded-2 form-control"
                @click="$dispatch('open-generic-editor', {
                    title: 'Nombre',
                    label: 'Nombre',
                    field: 'name',
                    value: collection.name,
                    type: 'text',
                    patchUrl: '/api/v1/product-collections/{{id}}',
                    help: 'El nombre debe tener al menos 3 caracteres.',
                    onSave: () => { console.log('¡Guardado!'); alert('GUuuardado!'); location.reload(); }
                })">
                    <div x-text="collection.name"></div>
                    <div> <i class="bi bi-chevron-right"></i></div>
                </button>
            </div>
            <div class="mb-3">
                <div class="text-muted">Código</div>
                <button class="d-flex justify-content-between rounded-2 form-control "
                @click="$dispatch('open-generic-editor', {
                        title: 'Código',
                        label: 'Código',
                        field: 'code',
                        value: collection.code,
                        type: 'text',
                        patchUrl: '/api/v1/product-collections/{{id}}',
                        help: 'El código tener al menos 3 caracteres.',
                        onSave: () => { console.log('¡Guardado!');location.reload(); alert('GUuuardado!');  }
                    })">
                    <div  x-text="collection.code?collection.code:'Sin codigo'"></div>
                    <div> <i class="bi bi-chevron-right"></i></div>
                </button>

            </div>
            <!-- Fila de Descripción -->
            <div class="mb-3">
                <div class="text-muted">{{label.description}}</div>
                <div style="height: 80px;" class="d-flex justify-content-between rounded-2 form-control cursor-pointer"
                @click="$dispatch('open-generic-editor', {
                        title: 'Descripción',
                        label: 'Descripción',
                        field: 'description',
                        value: collection.description,
                        type: 'textarea',
                        patchUrl: `/api/v1/product-collections/${id}`,
                        help: '',
                        onSave: (updated) => { collection.description = updated.description; }
                    })">
                    <div  x-text="collection.description?collection.description:'Sin descripción'"></div>
                    <div> <i class="bi bi-chevron-right"></i></div>
                </div>
            </div>
            <!-- Fila de estado -->
            <div class="mb-3">
                <div class="text-muted">Estado</div>
                <div class="d-flex justify-content-between form-check  form-switch ps-0">
                    <label  x-text="collection.is_active ? 'Activo' : 'Inactivo'"></label>
                    <input class="form-check-input" type="checkbox" role="switch" :checked="collection.is_active" @click="toggleStatus()">
                </div>

            </div>
            <!-- Fila de linea -->
            <div class="mb-3">
                <div class="text-muted">{{label.line}}</div>
                <div class="d-flex">
                    <div  x-text="collection.line_name?collection.line_name:'Sin linea'"></div>

                </div>
            </div>
            <!-- Fila de sublinea -->
            <div class="mb-3">
                <div class="text-muted">{{label.subline}}</div>
                <div class="d-flex">
                    <div  x-text="collection.subline_name?collection.subline_name:'Sin sublinea'"></div>
                </div>
            </div>

            <!-- Fila de familia de hormas -->
            <div class="mb-3">
                <div class="text-muted">{{label.last}}</div>
                <div class="d-flex">
                    <div  x-text="collection.last_code?collection.last_code:'Sin horma asignada'"></div>
                </div>
            </div>

            <!-- Fila de Total Productos -->
            <div class="mb-3">
                <div class="text-muted">{{label.products}}</div>
                <div class="d-flex justify-content-between rounded-2 ">
                    <div class="">Total productos:</div>
                    <div  x-text="collection.count_products" class="badge text-bg-primary rounded-pill"></div>

                </div>
            </div>
            <div>
                <div class="text-muted">{{label.products}}</div>
                    <ul class="list-group list-group-flush">
                        <template x-for="products in products" :key="products.id">
                            <li class="list-group-item list-group-item-action">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="fw-semibold badge text-bg-secondary"
                                    x-text="products.name"></span>
                                 <span x-text="products.code"></span>
                            </div>
                            </li>
                        </template>
                        <template x-if="products.length == 0">
                            <div>
                                <li class="list-group-item list-group-item-action rounded-2" x-text="'No existen productos en esta colección.'">

                            </li>
                                <button @click="deleteObj(id)" class="btn btn-outline-danger w-100 mt-3">Eliminar colección</button>
                            </div>


                        </template>
                    </ul>
            </div>
        </div>
    </div>


</div>


<script>
    function detail(id){
        return{
            collection:{},
            products:[],
            error:'',
            form:{},
            field_label:'',
            selectedField:'',
            form_model:'',
            original_value: '',
            api:'',
            message:'',
            type:'',
            id:id,

            init(){
                console.log('init... id: ', id)
                this.fetchCollection(id);
            },

            async fetchCollection(id){
                try{
                    const res = await window.guifer.helpers.fetch.apiFetch('GET', `product-collections/${id}`);

                    this.collection = res;
                    console.log('res: ', res);
                    this.fetchProducts(id)
                }catch(error){
                    console.error('API error: ', error)
                    this.error= error
                }
            },

            async fetchProducts(id){
                try{
                    const res = await window.guifer.helpers.fetch.apiFetch('GET', `products?collection_id=${id}`);

                    this.products = res;
                    console.log('res products: ', res);
                }catch(error){
                    console.error('API error: ', error)
                    this.error= error
                }

            },

            async deleteObj(id){
                if (!confirm('¿Estás seguro de que quieres eliminar esta colección?')) {
                    return;
                }
                try {
                    const res = await window.guifer.helpers.fetch.apiFetch('DELETE', `product-collections/${id}`);
                    if (res) {
                        alert('Colección eliminada con éxito');
                        this.message = 'Colección eliminada con éxito';
                        window.location.href = '/products/collections';
                    } else {
                        this.error = 'Error al eliminar la colección';
                    }
                } catch (error) {
                    console.error('API error: ', error);
                    this.error = 'Error: ' + String(error);
                }
            },

            async toggleStatus() {
                if (!confirm('¿Estás seguro de que quieres cambiar el estado, los productos de esta linea no estaran disponibles para la venta ni produccion?')) {
                    return;
                }

                try {
                    const newStatus = !this.collection.is_active;
                    const updated = await window.guifer.helpers.fetch.apiFetch('PATCH', `product-collections/${this.id}`, { is_active: newStatus });
                    console.log('updated: ', updated)
                    if (updated) {
                        this.collection.is_active = updated.is_active;
                    }
                } catch (error) {
                    console.error('Error toggling status:', error);
                    alert('No se pudo cambiar el estado.');
                }
            },

        }
    }
</script>
