{% extends "base.html" %}
{% from 'components/detailCard.html' import detail_card %}
{% block title %}Detalle de Línea{% endblock %}

{% block content %}
<div class="container mt-3" x-data="lineDetail({{ line_id }})" >

  <div x-data="{ href: '/products/lines', title: 'Detalle de lineas de productos' }">
    {% include 'components/_pageHeader.html' %}
  </div>

  <template x-if="loading">
    <div class="text-center my-5">
      <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </template>

  <template x-if="!loading">



    {% set fields = [('Identificación', 'ruc_or_ci'), ('Nombre', 'name'), ('Descripción', 'description')] %}
    {{ detail_card(client, fields) }}
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <h5 class="card-title mb-2" x-text="line.name"></h5>
        <p class="text-muted mb-3" x-text="line.description || 'Sin descripción'"></p>

        <div class="d-flex justify-content-between align-items-center">
          <span class="fw-bold">Productos asociados</span>
          <span class="badge bg-dark fs-6" x-text="line.count_products || 0"></span>
        </div>
      </div>
    </div>
  </template>

</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/product_lines_sublines.js') }}"></script>
{% endblock %}
