{% extends "base.html" %}
{% from 'components/_pageHeader.html' import pageHeader %}
{% block content %}

{{ pageHeader(href='/products/index',
              title=label.lines,
              has_btn=True,
              btn_href='/products/lines/create',
              btn_label='Nueva Línea') }}

<div x-data="linesList()">

  <template x-if="error">
    <div class="alert alert-danger" role="alert" x-text="error">

    </div>
  </template>

  <ul class="list-group list-group-flush d-sm-block d-md-none" >
    <template x-for="line in lines" :key="line.id">
      <li class="list-group-item list-group-item-action">
        <div class="d-flex justify-content-between align-items-start btn" @click="redirectLine(line.id)">
          <div class="ms-2 me-auto text-start" >
            <div class="fw-bold ms-0" x-text="line.name"></div>
            <span class="text-muted small ms-0" x-text="line.code ? `Código: ${line.code}` : 'Sin código'"></span>
          </div>
          <div>
            <span class="badge text-bg-primary rounded-pill" x-text="line.count_products + ' productos'"></span>
            <span class="ms-2"><i class="bi bi-chevron-right"></i></span>
          </div>
        </div>
      </li>
    </template>
  </ul>

  <div class="table-responsive d-none d-md-block">
    <table class="table table-hover table-sticky">
      <thead>
        <tr>
          <th class="sticky-col" >{{label.line}}</th>
          <th class="" >Código</th>
          <th>N productos</th>
        </tr>

      </thead>
      <tbody>
        <template x-for="line in lines" :key="line.id">
          <tr @click="redirectLine(line.id)" class="cursor-pointer">
            <td class="sticky-col" x-text="line.name"></td>
            <td class="" x-text="line.code"></td>
            <td class="" x-text="line.count_products"></td>
          </tr>
        </template>
        <template x-if="empty">
          <tr>No exsiten lineas registradas</tr>
        </template>

      </tbody>
    </table>
  </div>

</div>


<script>
function linesList(){
  return{
    lines:[],
    error:'',
    empty: false,


    init(){
      this.fetchLines()
    },

    async fetchLines(){
      try{
        const res = await window.guifer.helpers.fetch.apiFetch('GET', '/product-lines');
        if(res){
          this.lines = res;
          if(!this.lines.length>0) this.empty = true
        }
      }catch(error){
        console.error('error consultando API: ', error)
        this.error = 'Error consultando API' + String(error)
      }
    },

    redirectLine(id){
      window.location.href = `/products/lines/${id}`
    }
  }
}

</script>

{% endblock %}
