{% extends "base.html" %}
{% block title %}Crear Línea{% endblock %}

{% block content %}
<div class="container mt-3" x-data="createCollection()" x-init="init()">
  <div x-data="{ href: '/products/lines', title: 'Cerar collecion de productos' }">
    {% include 'components/_pageHeader.html' %}
  </div>
  {% include "products/collections/_collectionForm_create.html" %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/product_collections.js') }}"></script>
{% endblock %}
