{% extends "base.html" %}
{% from 'components/detailCard.html' import detail_card %}
{% block title %}Detalle de Trabajador{% endblock %}

{% block content %}
<div class="container mt-3" >

  <div x-data="{ href: '/workers', title: 'Trabajador' }">
    {% include 'components/_pageHeader.html' %}
  </div>

    <div
      x-data="genericDetail(
        '/api/v1/workers/{{worker_id }}',
        
          [
            
             { field: 'ci',        label: 'CI'},
            { field: 'first_name',  label: 'Nombre' },
            { field: 'last_name',  label: 'Apellido'},
            { field: 'worker_type',  label: 'Tipo' },
            { field: 'job.name',   label: 'Cargo' },
            { field:'hour_rate_normal', label:'Pago/hora' },
            { field:'salary', label:'Salario' },
            { field:'is_active', label:'Status' },
          ],

          '🙋'
        
      )"
    >
    {% include "components/detailCard.html" %}
    
    <!-- Mensaje de error -->
    <template x-if="error">
      <div class="alert alert-danger" x-text="error"></div>
    </template>

  </div>


  

</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/genericDetail.js') }}"></script>
   <script src="{{ url_for('static', filename='js/genericList.js') }}"></script>
{% endblock %}