{% from 'macros.html' import cardContainer %}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div>
    <section id="header">
        {% include '__title.html' %}
    </section>

    <section>

        {{ cardContainer(id='Costos directos', name='Gestión costos directos', description='Visualización, creación, edición de costos directos, mano de obra, materia prima, etc' ) }}

        {{ cardContainer(id='Costos indirectos', name='Gestión costos indirectos', description='Visualización, creación, edición de costos indirectos, gasto fijo, etc' ) }}

        {{ cardContainer(id='Gastos administrativos', name='Gestión gastos administrativos', description='Visualización, creación, edición de gastos administrativos' ) }}
        
        {{ cardContainer(id='Precios', name='Gestión precios', description='Estrategias de pricing', url=url_for('pricing.index') ) }}

    </section>
</div>
{% endblock %}