<div>

  <!-- Instrucción -->
  <div class="mb-3">
    <p>Selecciona la serie de tallas en la que estará disponible este diseño. Las variantes se generarán automáticamente según las tallas de la serie seleccionada.</p>
  </div>

  <!-- Selector de serie -->
  <div class="form-floating mb-3">
    <select class="form-select" id="size_series_id" x-model="selectedSeriesId" @change="loadSizes">
      <option value="">Selecciona una serie</option>
      <template x-for="serie in sizeSeries" :key="serie.id">
        <option :value="serie.id" x-text="serie.name+'-'+serie.category+'-'+'('+serie.start_size+'-'+serie.end_size+')'"></option>
      </template>
    </select>
    <label for="size_series_id">Serie de tallas</label>
  </div>

  <!-- Vista previa de serie seleccionada -->
  <div class="mb-4" x-show="sizes.length > 0">
    <h6 class="mb-2">Serie seleccionada:</h6>
    <div class="d-flex flex-wrap gap-2">
        <template x-if="sizes">
             <span class="badge bg-dark"
             x-text="'serie '+ selectedSerie.name + '[' + selectedSerie.start_size + '-' + selectedSerie.end_size + '] (' + selectedSerie.category +')'"></span>
        </template>

    </div>
  </div>

  <!-- Variantes generadas -->
  <div x-show="productData.variants.length > 0" >
    <div class="d-flex justify-content-between align-items-center bg-dark">
      <h6 class="mb-2 text-white">🧩 Variantes generadas:</h6>
      <button class="btn btn-sm btn-outline-dark" @click="removeSerie()" type="button">
          <i class="bi bi-x text-white"></i>
      </button>
    </div>

    <ul class="list-group">
      <template x-for="variant in variants" :key="variant.size_id">
        <li class="list-group-item d-flex justify-content-between">
          <span x-text="variant.variant_code"></span>
          <small class="text-muted" x-text="variant.size_name"></small>
        </li>
      </template>

    </ul>
  </div>

  <!-- Acciones -->
  <div class="d-flex justify-content-between mt-4">
    <button class="btn btn-outline-secondary" @click="prevStep">← Atrás</button>
    <button class="btn btn-dark" @click="nextStep" :disabled="productData.variants.length === 0">Siguiente →</button>
  </div>
</div>
