<div x-data="detail({{id}})" class="row g-2">
    <template x-if="error">
        <div x-text="error" class="alert alert-danger" role="alert"></div>
    </template>
    <template x-if="message">
        <div x-text="message" class="alert-success" role="alert"></div>
    </template>

    <div class="col-12">
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="card-title">Información General</h5>

                    <div class="d-flex justify-content-end mb-3">
                        <span
                            class="badge"
                            :class="item.is_active ? 'text-bg-success' : 'text-bg-secondary'"
                            x-text="item.is_active ? 'Activo' : 'Inactivo'">
                        </span>
                    </div>
                </div>


                <div class="mb-3">

                    <div class="text-muted">Nombre de {{label.product}}</div>
                    <button class="d-flex justify-content-between rounded-2 form-control"
                    @click="$dispatch('open-generic-editor', {
                        title: 'Nombre',
                        label: 'Nombre',
                        field: 'name',
                        value: item.name,
                        type: 'text',
                        patchUrl: apiFetch,
                        help: 'El nombre debe tener al menos 3 caracteres.',
                        onSave: () => { console.log('¡Guardado!'); alert('Guardado!'); location.reload(); }
                    })">
                        <div x-text="item.name"></div>
                        <div> <i class="bi bi-chevron-right"></i></div>
                    </button>
                </div>
                <div class="mb-3">
                    <div class="text-muted">Código</div>
                    <button class="d-flex justify-content-between rounded-2 form-control " disabled>
                        <div  x-text="item.code?item.code:'Sin codigo'"></div>
                        <div> <i class="bi bi-chevron-right"></i></div>
                    </button>

                </div>
                <!-- Fila de Descripción -->
                <div class="mb-3">
                    <div class="text-muted">{{label.description}}</div>
                    <div style="height: 80px;" class="d-flex justify-content-between rounded-2 form-control cursor-pointer"
                    @click="$dispatch('open-generic-editor', {
                            title: 'Descripción',
                            label: 'Descripción',
                            field: 'description',
                            value: item.description,
                            type: 'textarea',
                            patchUrl: apiFetch,
                            help: '',
                            onSave: (updated) => { item.description = updated.description; }
                        })">
                        <div  x-text="item.description?item.description:'Sin descripción'"></div>
                        <div> <i class="bi bi-chevron-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card mb-3 ">

            <div class="card-body">
                <h5 class="card-title">Estado</h5>
                <!-- Fila de estado -->
                <div class="mb-3">
                    <div class="text-muted">Estado</div>
                    <div class="d-flex justify-content-between form-check  form-switch ps-0">
                        <label  x-text="item.is_active ? 'Activo' : 'Inactivo'"></label>
                        <input class="form-check-input" type="checkbox" role="switch" :checked="item.is_active" @click="toggleStatus()">
                    </div>

                </div>
                <div class="mb-3">
                    <div class="text-muted">Estado</div>
                    <div class="d-flex justify-content-between form-check  form-switch ps-0">
                        <label  x-text="item.status" class="bagde" :class="item.status==='DRAFT' ? 'bg-alert' : ''"></label>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card mb-3">
            <div class="card-body">
                <h5>{{label.variants}}</h5>

                <div>
                    <div class="text-muted">Lista de {{label.variants}}</div>
                    <ul class="list-group ">
                        <template x-for="variant in variants" :key="pcolor.id">
                            <li class="list-group-item list-group-item-action cursor-pointer" @click="redirectVariant(variant.id)" >
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="fw-semibold badge text-bg-secondary"
                                        x-text="variant.name"></span>
                                    <span x-text="variant.code"></span>
                                </div>
                                <div>
                                    <span class="badge text-bg-primary" x-text="variant.status?variant.status:'--'"></span>
                                </div>

                            </div>
                            </li>
                        </template>

                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div>
        <button @click="deleteObj(id)" class="btn btn-outline-danger w-100 mt-3">Eliminar {{label.design}}</button>
    </div>

</div>

<script>
    function detail(id){
        return{
            item:{},
            pcolors:[],
            error:'',
            api:'',
            message:'',
            type:'',
            id:id,
            apiFetch: `products/${id}`,
            api: `/products/${id}`,



            init(){
                console.log('init... id: ', id)
                this.fetchItem(id);
            },

            async fetchItem(id){
                try{
                    const res = await window.guifer.helpers.fetch.apiFetch('GET', this.apiFetch);

                    this.item = res;
                    console.log('res: ', res);
                    this.fetchPColors(id)
                }catch(error){
                    console.error('API error: ', error)
                    this.error= error
                }
            },

            async fetchPColors(id){
                try{
                    const res = await window.guifer.helpers.fetch.apiFetch('GET', `product-designs?product_id=${id}`);

                    this.pcolors = res;
                    console.log('res products: ', res);
                }catch(error){
                    console.error('API error: ', error)
                    this.error= error
                }

            },

            redirectPcolors(id){
                window.location.href = `/product-designs/${id}`;
            },


            async deleteObj(id){
                if (!confirm('¿Estás seguro de que quieres eliminar este registro')) {
                    return;
                }
                try {
                    const res = await window.guifer.helpers.fetch.apiFetch('DELETE', this.apiFetch);
                    if (res) {
                        alert('Registro eliminado con éxito');
                        this.message = 'Registro eliminado con éxito';
                        window.location.href = this.api;
                    } else {
                        this.error = 'Error al eliminar registro';
                    }
                } catch (error) {
                    console.error('API error: ', error);
                    this.error = 'Error: ' + String(error);
                }
            },

            async toggleStatus() {
                if (!confirm('¿Estás seguro de que quieres cambiar el estado, los productos de esta linea no estaran disponibles para la venta ni produccion?')) {
                    return;
                }

                try {
                    const newStatus = !this.item.is_active;
                    const updated = await window.guifer.helpers.fetch.apiFetch('PATCH', this.apiFetch, { is_active: newStatus });
                    console.log('updated: ', updated)
                    if (updated) {
                        this.item.is_active = updated.is_active;
                    }
                } catch (error) {
                    console.error('Error toggling status:', error);
                    alert('No se pudo cambiar el estado.');
                }
            },

        }
    }
</script>
