{% extends "base.html" %}
{% block title %}Crear Diseno{% endblock %}

{% block content %}
<div x-data="{ href: '/products/{{product_id}}', title: ' Crear nuevo diseño' }">
    {% include 'components/_pageHeader.html' %}
</div>

<div class="container mt-3" x-data="productWizard({ productId: {{ product_id }}, startStep: 2 })">

  {% include "products/products/product_wizard.html" %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/productsForm.js') }}"></script>
{% endblock %}
