<div x-data="detail({{id}})" class="row g-2">
    <template x-if="error">
        <div x-text="error" class="alert alert-danger" role="alert"></div>
    </template>
    <template x-if="message">
        <div x-text="message" class="alert-success" role="alert"></div>
    </template>

    <div class="col-12">
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="card-title">Información General</h5>
                </div>


                <div class="mb-3">

                    <div class="text-muted">Nombre de {{label.subgroup}}</div>
                    <button class="d-flex justify-content-between rounded-2 form-control"
                    @click="$dispatch('open-generic-editor', {
                        title: 'Nombre',
                        label: 'Nombre',
                        field: 'name',
                        value: item.name,
                        type: 'text',
                        patchUrl: apiPatch,
                        help: 'El nombre debe tener al menos 3 caracteres.',
                        onSave: () => { console.log('¡Guardado!'); alert('Guardado!'); location.reload(); }
                    })">
                        <div x-text="item.name"></div>
                        <div> <i class="bi bi-chevron-right"></i></div>
                    </button>
                </div>
                <div class="mb-3">
                    <div class="text-muted">Código</div>
                    <button class="d-flex justify-content-between rounded-2 form-control " disabled>
                        <div  x-text="item.code?item.code:'Sin codigo'"></div>

                    </button>

                </div>
                <!-- Fila de Descripción -->
                <div class="mb-3">
                    <div class="text-muted">{{label.description}}</div>
                    <div style="height: 80px;" class="d-flex justify-content-between rounded-2 form-control cursor-pointer"
                    @click="$dispatch('open-generic-editor', {
                            title: 'Descripción',
                            label: 'Descripción',
                            field: 'description',
                            value: item.description,
                            type: 'textarea',
                            patchUrl: apiPatch,
                            help: '',
                            onSave: (updated) => { item.description = updated.description; }
                        })">
                        <div  x-text="item.description?item.description:'Sin descripción'"></div>
                        <div> <i class="bi bi-chevron-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="card-title">Subtipos</h5>
                    <button type="button" class="btn btn-dark"><i class="bi bi-plus"></i></button>
                </div>
            </div>
        </div>
    </div>



    <div>
        <button @click="deleteObj(id)" class="btn btn-outline-danger w-100 mt-3">Eliminar {{label.producto}}</button>
    </div>

</div>

<script>
    function detail(id){
        return{
            item:{},
            error:'',
            message:'',
            type:'',
            id:id,
            apiFetch: `material-groups/${id}`,
            apiPatch: `/api/v1/material-groups/${id}`,
            api: `/material-groups`,



            init(){
                console.log('init... id: ', id)
                this.fetchItem(id);
            },

            async fetchItem(id){
                try{
                    const res = await window.guifer.helpers.fetch.apiFetch('GET', this.apiFetch);

                    this.item = res;
                }catch(error){
                    console.error('API error: ', error)
                    this.error= error
                }
            },

            getLifeStatus(lifestatus){
               if (lifestatus === 'READY') {
                    return 'Activo';
                } else if (lifestatus === 'ARCHIVED') {
                    return 'Inactivo'
                }else{
                    return 'Inactivo'
                }
            },

            setStatusClass(status) {
                if (status === 'READY') {
                    return 'text-bg-success';
                } else if (status === 'ARCHIVED') {
                    return 'text-bg-secondary';
                } else {
                    return 'text-bg-secondary';
                }
            },


            async deleteObj(id){
                if (!confirm('¿Estás seguro de que quieres eliminar este registro')) {
                    return;
                }
                try {
                    const res = await window.guifer.helpers.fetch.apiFetch('DELETE', this.apiFetch);
                    if (res) {
                        alert('Registro eliminado con éxito');
                        this.message = 'Registro eliminado con éxito';
                        window.location.href = this.api;
                    } else {
                        this.error = 'Error al eliminar registro';
                    }
                } catch (error) {
                    console.error('API error: ', error);
                    this.error = 'Error: ' + String(error);
                }
            },

        }
    }
</script>
