<div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="offcanvasEditForm"
    aria-labelledby="offcanvasEditLabelForm"
    x-ref="offcanvas"
>
    <div class="offcanvas-header">
         <h5 class="offcanvas-title" x-text="field_label || 'Editar'"></h5>
        <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></button>
    </div>
    <div class="offcanvas-body">
      <form>
        <!-- Input reutilizable que expone x-modelable="value" -->
         <show x-show="type==='text'">
            <div
              x-data="inputText({ id: selectedField, label: field_label })"
              x-model="form_model"
              x-modelable="value"

            ></div>
         </show>

         <template x-if="type==='number'">
          <div>
            <input type="number" :name="selectedField" :id="selectedField" x-model="form_model" class="form-control">
          </div>

         </template>


        <!-- Acciones -->
        <div class="d-flex gap-2 mt-3">
          <div class="flex-grow-1"
              x-data="actionBtn({ label:'Guardar', variant:'dark', size:'md', icon:'floppy' })"
              @action="saveField()"></div>

          <div x-data="actionBtn({ label:'Cancelar', variant:'outline-secondary', size:'md' })"
              @action="resetField()"></div>
        </div>

        <!-- Mensajes -->
        <template x-if="error">
          <div class="alert alert-danger mt-2" x-text="error"></div>
        </template>

      </form>
    </div>
</div>
