<section>
    <form action="" method="post" id="paymentMethodForm" x-data="payment_methodForm()">
        {{ form.hidden_tag() }}

        <div class="form-floating">           
            <input type="text" name="name" id="name" x-model="name" class="form-control" placeholder="Nombre">
            <label for='name'>Nombre</label>
            <span x-text="itemErrors.name" class="text-danger">
                <i class="bi bi-exclamation-circle-fill"></i>
            </span>
        </div>
        <div class="form-floating mb-3">           
            <input type="text" name="description" id="description" x-model="description" class="form-control" placeholder="Descripcion">
            <label for='description'>Descripción</label>
            <span x-text="itemErrors.description" class="text-danger">
                <i class="bi bi-exclamation-circle-fill"></i>
            </span>
        </div>

        <input type="submit" name="submit" id="submit" class="btn btn-dark" value="Guardar">
        <a href="url_for('payments.view_payment_methods')" class="btn btn-secondary">Regresar</a>

    </form>
</section>

<script>

function payment_methodForm(){
    return{
        name:'',
        description:'',
        itemErrors:''
    }
}

</script>