{% from 'macros.html' import cardContainer %}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>

<section>
    <a href="{{ url_for('payments.add_payment_method') }}" class="btn btn-dark">
        Crear nueva metodo de pago
    </a>
</section>

<section>
    <h3>Métodos de pago</h3>
    <div class="table-responsive">
        <table class="table table-hover" x-data="viewPaymentMethods()">
            <thead>
                <th>Método</th>
                <th>Descripción</th>
                <th>Estado</th>
            </thead>
            <tbody>
                <template x-for="method in methods">
                    <tr  style="cursor: pointer;"  @click="redirect_method(method.id)">
                        <td x-text="method.name" ></td>
                        <td x-text="method.description"></td>
                        <td x-text="method.status"></td>
                    </tr>
                </template>
            </tbody>
        </table>

    </div>
</section>
<script>


function viewPaymentMethods() {
    return {
        methods:[],

        init(){
            this.fetchPaymentMethods();
        },

        async fetchPaymentMethods(){
            try{
                const response = await fetch('/api/v1/payment_methods');
                if(!response.ok) throw new Error('Error a cargar metodos de pago');
                const methods = await response.json();
                console.log(methods)
                this.methods = methods;
                console.log('thos mehtos', this.methods)
            }catch(error){
                console.error(error);
            }
        },

        redirect_method(id){
            const url = `/payment_methods/${id}`;
            window.location.href = url;
        }
    }

}

</script>

{% endblock %}
