<div x-data="detail({{id}})">
    <template x-if="error">
        <div x-text="error" class="alert alert-danger" role="alert"></div>
    </template>
    <template x-if="message">
        <div x-text="message" class="alert-success" role="alert"></div>
    </template>

    <div class="card bg-light border-0">
        <div class="card-body px-0">
            <!-- Fila de Estado -->
            <div class="d-flex justify-content-end mb-2">
                <span
                    class="badge"
                    :class="item.is_active ? 'text-bg-success' : 'text-bg-secondary'"
                    x-text="item.is_active ? 'Activo' : 'Inactivo'">
                </span>
            </div>

            <div class="mb-3">

                <div class="text-muted">Nombre de {{label.product}}</div>
                <button class="d-flex justify-content-between rounded-2 form-control"
                @click="$dispatch('open-generic-editor', {
                    title: 'Nombre',
                    label: 'Nombre',
                    field: 'name',
                    value: item.name,
                    type: 'text',
                    patchUrl: apiFetch,
                    help: 'El nombre debe tener al menos 3 caracteres.',
                    onSave: () => { console.log('¡Guardado!'); alert('Guardado!'); location.reload(); }
                })">
                    <div x-text="item.name"></div>
                    <div> <i class="bi bi-chevron-right"></i></div>
                </button>
            </div>
            <div class="mb-3">
                <div class="text-muted">Código</div>
                <button class="d-flex justify-content-between rounded-2 form-control ">
                    <div  x-text="item.code?item.code:'Sin codigo'"></div>
                    <div> <i class="bi bi-chevron-right"></i></div>
                </button>

            </div>
            <!-- Fila de Descripción -->
            <div class="mb-3">
                <div class="text-muted">{{label.description}}</div>
                <div style="height: 80px;" class="d-flex justify-content-between rounded-2 form-control cursor-pointer"
                @click="$dispatch('open-generic-editor', {
                        title: 'Descripción',
                        label: 'Descripción',
                        field: 'description',
                        value: item.description,
                        type: 'textarea',
                        patchUrl: apiFetch,
                        help: '',
                        onSave: (updated) => { item.description = updated.description; }
                    })">
                    <div  x-text="item.description?item.description:'Sin descripción'"></div>
                    <div> <i class="bi bi-chevron-right"></i></div>
                </div>
            </div>
            <!-- Fila de estado -->
            <div class="mb-3">
                <div class="text-muted">Estado</div>
                <div class="d-flex justify-content-between form-check  form-switch ps-0">
                    <label  x-text="item.is_active ? 'Activo' : 'Inactivo'"></label>
                    <input class="form-check-input" type="checkbox" role="switch" :checked="item.is_active" @click="toggleStatus()">
                </div>

            </div>
            <!-- Fila de linea -->
            <div class="mb-3">
                <div class="text-muted">{{label.line}}</div>
                <div class="d-flex">
                    <div  x-text="item.line_name?item.line_name:'Sin linea'"></div>

                </div>
            </div>
            <!-- Fila de sublinea -->
            <div class="mb-3">
                <div class="text-muted">{{label.subline}}</div>
                <div class="d-flex">
                    <div  x-text="item.subline_name?item.subline_name:'Sin sublinea'"></div>
                </div>
            </div>

            <!-- Fila de familia de hormas -->
            <div class="mb-3">
                <div class="text-muted">{{label.last}}</div>
                <div class="d-flex">
                    <div  x-text="item.last_code?item.last_code:'Sin horma asignada'"></div>
                </div>
            </div>

            <!-- Fila de Total Productos -->
            <div class="mb-3">
                <div class="text-muted">{{label.designs}}</div>
                <div class="d-flex justify-content-between rounded-2 ">
                    <div class="">Total colores:</div>
                    <div  x-text="item.count_products" class="badge text-bg-primary rounded-pill"></div>

                </div>
            </div>
            <div>
                <div class="text-muted">{{label.products}}</div>
                    <ul class="list-group list-group-flush">
                        <template x-for="pcolor in pcolors" :key="pcolor.id">
                            <li class="list-group-item list-group-item-action cursor-pointer" @click="redirectPcolors(pcolor.id)" >
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="fw-semibold badge text-bg-secondary"
                                    x-text="pcolor.name"></span>
                                 <span x-text="pcolor.code"></span>
                            </div>
                            </li>
                        </template>
                        <div>
                            <div>

                                <button @click="deleteObj(id)" class="btn btn-outline-danger w-100 mt-3">Eliminar {{label.producto}}</button>
                            </div>


                        </div>
                    </ul>
            </div>
        </div>
    </div>


</div>


<script>
    function detail(id){
        return{
            item:{},
            pcolors:[],
            error:'',
            api:'',
            message:'',
            type:'',
            id:id,
            apiFetch: `products/${id}`,
            api: `/products/${id}`,



            init(){
                console.log('init... id: ', id)
                this.fetchItem(id);
            },

            async fetchItem(id){
                try{
                    const res = await window.guifer.helpers.fetch.apiFetch('GET', this.apiFetch);

                    this.item = res;
                    console.log('res: ', res);
                    this.fetchPColors(id)
                }catch(error){
                    console.error('API error: ', error)
                    this.error= error
                }
            },

            async fetchPColors(id){
                try{
                    const res = await window.guifer.helpers.fetch.apiFetch('GET', `product-designs?product_id=${id}`);

                    this.pcolors = res;
                    console.log('res products: ', res);
                }catch(error){
                    console.error('API error: ', error)
                    this.error= error
                }

            },

            redirectPcolors(id){
                window.location.href = `/product-designs/${id}`;
            },


            async deleteObj(id){
                if (!confirm('¿Estás seguro de que quieres eliminar este registro')) {
                    return;
                }
                try {
                    const res = await window.guifer.helpers.fetch.apiFetch('DELETE', this.apiFetch);
                    if (res) {
                        alert('Registro eliminado con éxito');
                        this.message = 'Registro eliminado con éxito';
                        window.location.href = this.api;
                    } else {
                        this.error = 'Error al eliminar registro';
                    }
                } catch (error) {
                    console.error('API error: ', error);
                    this.error = 'Error: ' + String(error);
                }
            },

            async toggleStatus() {
                if (!confirm('¿Estás seguro de que quieres cambiar el estado, los productos de esta linea no estaran disponibles para la venta ni produccion?')) {
                    return;
                }

                try {
                    const newStatus = !this.item.is_active;
                    const updated = await window.guifer.helpers.fetch.apiFetch('PATCH', this.apiFetch, { is_active: newStatus });
                    console.log('updated: ', updated)
                    if (updated) {
                        this.item.is_active = updated.is_active;
                    }
                } catch (error) {
                    console.error('Error toggling status:', error);
                    alert('No se pudo cambiar el estado.');
                }
            },

        }
    }
</script>
