{% from 'components/floatingButton.html' import floating_button %}
{% extends 'base.html' %}

{% block title %}Productos{% endblock %}

{% block content %}
<div x-data="{ href: '/products/index', title: 'Lista de productos' }">
    {% include 'components/_pageHeader.html' %}
  </div>
<div>
{{ floating_button('/products/create', 'Nuevo producto') }}
</div>
  
  <div
      x-data="genericList(
        '/api/v1/products',
        '/products',
        [
          { field: 'code',        label: 'Código',      filterable: true  },
          { field: 'name',        label: 'Nombre',      filterable: true  },
        ]
      )"
      x-init="init()"
      class="table-responsive"
    >
      {% include 'components/listTable.html' %}
  </div>

  
  

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/genericList.js') }}"></script>
{% endblock %}
