{% from 'components/floatingButton.html' import floating_button %}
{% extends 'base.html' %}
{% from 'components/_pageHeader.html' import pageHeader%}
{% block title %}Productos{% endblock %}

{% block content %}

{{ pageHeader(href='/products/index',
              title=label.products,
              has_btn=True,
              btn_label='Nuevo producto',
              btn_href='/products/create'
              ) }}

  <div
      x-data="genericList(
        '/api/v1/products',
        '/products',
        [
          { field: 'code',        label: 'Código',      filterable: true  },
          { field: 'name',        label: 'Nombre',      filterable: true  },
          { field: 'collection.name', label: 'Colección', filterable: true  },
          { field: 'lifecycle_status', label: 'Estado', filterable: true, component: 'statusBadge', props: { kind: 'lifecycle_status' } }
        ]
      )"
      x-init="init()"
    >
    <div class="d-none d-md-block">
      {% include 'components/listTable.html' %}
    </div>

    <div class="d-block d-md-none">
      {% include 'components/listCard.html' %}
    </div>


  </div>




{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/genericList.js') }}"></script>
{% endblock %}
