{% from 'macros.html' import cardContainer, tableHover, render_errors, render_input_float, render_input %}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>

<section>
    <form id="materialEntryForm" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        
        {{ render_input_float(form.date) }}
        {{ render_input_float(form.responsible) }}
        {{ render_input_float(form.document) }}

        <h3 class="mt-3">Lista de materiales</h3>
        <div id="itemsContainer">
            <div id="item-list">
                {% for item in form.items %}
                <div class="item-entry mb-3 border rounded container mx-auto" data-index="{{ loop.index }}">
                    <div class="d-flex align-items-end">
                        <button type="button" class="btn btn-danger remove-item" onclick="removeMaterial(this)">X</button>
                    </div>
                    <div class="container row py-3 px-0">
                        <div class="col-1">
                            <span name="item-number" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <small>{{ item.code.label }}</small>
                            {{ item.code(class="form-control", oninput='searchMaterial(this.id)') }}
                        </div>
                        <div class="col-md-4">
                            {{ item.material.label }}
                            {{ item.material(class="form-control") }}
                            {{ render_errors(item.material) }}
                        </div>
                        <div class="col-md-2">
                            {{ item.unit.label }}
                            {{ item.unit(class="form-control") }}
                        </div>
                        <div class="col-md-2">
                            <small>{{ item.qty.label }}</small>
                            {{ item.qty(class="form-control") }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <button type="button" class="btn btn-secondary mt-3" id="add-item" onclick="addMaterial()">Agregar Material</button>
        {{ form.submit(class='btn btn-dark mt-3') }}
    </form>
</section>

<script>
    function searchMaterial(id) {
        const input = document.getElementById(id);
        let query = input.value;

        if (query.length > 0) {
            fetch(`/api/v1/materials?q=${query}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data); // Maneja la respuesta aquí
                });
        }
    }

    function removeMaterial(element) {
        const itemEntry = element.closest('.item-entry');
        itemEntry.remove();
        updateIndices();
    }

    function addMaterial() {
        const itemList = document.getElementById('item-list');
        const newItem = itemList.firstElementChild.cloneNode(true);

        // Actualiza índices de todos los inputs en el nuevo item
        updateInputNames(newItem, itemList.childElementCount);

        itemList.appendChild(newItem);
    }

    function updateIndices() {
        const itemList = document.getElementById('item-list');
        const items = itemList.getElementsByClassName('item-entry');

        for (let index = 0; index < items.length; index++) {
            updateInputNames(items[index], index);
        }
    }
    

    function updateInputNames(itemEntry, index) {
        const inputs = itemEntry.getElementsByTagName('input');
        let itemNumberSpan = itemEntry.getElementsByTagName('span');
        console.log(itemNumberSpan)
        itemNumberSpan.innerHTML = index + 1
        itemNumberSpan.textContent = 'hola';
        console.log(itemNumberSpan)
        for (const input of inputs) {
            const name = input.getAttribute('name').replace(/\d+/, index);
            input.setAttribute('name', name);
            input.setAttribute('id', name);
        }
    }

    document.addEventListener('DOMContentLoaded', updateIndices);
</script>
{% endblock %}
