{% from 'macros.html' import cardContainer, tableHover, render_errors, render_input_float, render_input %}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>

<section>
    <form id="materialEntryForm" action="" method="post" novalidate x-data="materialForm()" x-init='init({{form.items.data|tojson}},{{form.items.errors|tojson}})'>
        {{ form.hidden_tag() }}
        {{ render_input_float(form.date, value=today) }}
        {{ render_input_float(form.movement_trigger, class='form-select') }}
        {{ render_input_float(form.document) }}
        {{ render_input_float(form.warehouse, class='form-select') }}
        {{ render_input_float(form.responsible, class='form-select') }}
        
        

        <h3 class="mt-3">Lista de materiales</h3>
        {% include 'inventory/material_stock/__materialListForm.html' %}

        <button type="button" class="btn btn-secondary mt-3" @click="addItem">Agregar Material</button>
        {{ form.submit(class='btn btn-dark mt-3') }}
    </form>
</section>

<script>
    function materialForm() {
        return {
            items: [], // Inicializa un material vacío
            //{ code: '', material: '', unit: '', qty: 0, errors: '' }
            init(itemsFromForm, errors) {
                // Rellenar items desde el formulario si ya hay datos
                
               console.log('contador de init')
                
                if (itemsFromForm && itemsFromForm.length > 0) {
                    
                    for(let i=0; i<itemsFromForm.length; i++){
                        item = itemsFromForm[i];
                        error = errors[i]
                        console.log('item errors:',error)
                        this.items.push({
                            code: item.code,
                            material: item.material,
                            unit: item.unit,
                            qty: item.qty,
                            errors: {
                                'code': error['code'],
                                'material': error['material'],
                                'qty': error['qty']
                            }
                            
                        });
                        console.log('errors',errors)
                    }

                   
                }
            },

            addItem() {
                this.items.push({ code: '', material: '', unit: '', qty: '', errors:'' }); // Agrega un nuevo material
            },

            removeItem(index) {
                this.items.splice(index, 1); // Elimina el material por índice
            },

            searchMaterial(query, index) {
                if (query.length > 0) {
                    query = '<by_code>' + query
                    console.log(query)
                    fetch(`/api/v1/materials?q=${query}`)
                        .then(response => response.json())
                        .then(data => {
                            console.log(data)
                            console.log(data[0].name); // Maneja la respuesta aquí
                            console.log(data[0].unit); 
                            if (data[0].name==null){
                                this.items[index]['material'] = 'COdigo no existe'
                            }
                            else{
                                this.items[index]['material'] = data[0].name
                                this.items[index]['unit'] = data[0].unit
                            }
                            
                            //console.log(this.items[index]['material'])
                        });
                }
            }
        }
    }
</script>

{% endblock %}
