{% from 'macros.html' import cardContainer, tableHover %}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>

<section>
    <a href="{{ url_for('sales.add_sale_order') }}" class="btn btn-dark">Nueva venta</a>
</section>

<section>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th>Fecha</th>
                <th>N`Orden</th>
                <th>Cliente</th>
                <th>RUC/CI</th>
                <th>Estado</th>
                <th></th>
            </thead>
            <tbody>
                {% for sale in sales %}
                {% set url = url_for('sales.view_sale_order', sale_id=sale.id ) %}
                <tr data-url="{{ url_for('crm.view_client', client_id=client.id) }}" style="cursor: pointer;" onclick="redirectTo()">
                    <td>{{ sale.order_date }}</td>
                    <td>{{ sale.order_number }}</td>
                    <td>{{ sale.client.name }}</td>
                    <td>{{ sale.status }}</td>
                    <td><i class="bi bi-chevron-right"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    
</section>
<script>
    function redirectTo() {
        const url = event.target.closest('tr').getAttribute('data-url');
        window.location.href = url;
    }
</script>

{% endblock %}
