<form id="addJobForm" action="" method="post">
    {{ job_form.hidden_tag() }}
    
    <h2 class="h4 fw-normal my-5">Ingrese los datos</h2>
    <div class="form-floating">              
        {{ job_form.code(class='form-control rounded-bottom-0', id="codeInput", placeholder="name@example.com") }}
        <label for="codeInput">Codigo</label>
        {{ render_errors(job_form.code) }}
    </div>
    <div class="form-floating">              
        {{ job_form.name(class='form-control rounded-bottom-0', id="nameInput", placeholder="name@example.com") }}
        <label for="codeInput">Cargo</label>
        {{ render_errors(job_form.name) }}
    </div>
    <div class="form-floating">
        {{ job_form.description(class='form-control rounded-top-0 mb-5', id="descriptionInput", placeholder="Ingrese la descripción", rows=3) }}
        <label for="descriptionInput">Descripción</label>
        {{ render_errors(job_form.description) }}
    </div>
    
    <div class="form-group mb-3">
        {{ job_form.submit(class='btn btn-dark w-100 py-2') }}
    </div>
   
</form>