{% from "macros.html" import render_errors %}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
 
{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>

<section id="addUser">
    <form action="" method="post" id="addUserForm" class="col-md-10 m-auto" novalidate>
        {{ form.hidden_tag() }}

        <h2 class="h4 fw-normal my-4">Ingrese los datos</h2>
        
        <div class="form-floating">              
            {{ form.username(class='form-control rounded-bottom-0', id="nameInput", placeholder="Jhon Scott") }}
            <label for="nameInput">Nombre</label>
            {{ render_errors(form.username) }}
        </div>
        <div class="form-floating">              
            {{ form.ci(class='form-control rounded-bottom-0 rounded-top-0', id="ciInput", placeholder="1500804479") }}
            <label for="ciInput">C&eacute;dula</label>
            {{ render_errors(form.ci) }}
        </div>
        <div class="form-floating">              
            {{ form.email(class='form-control rounded-bottom-0 rounded-top-0', id="emailInput", placeholder="Jhon Scott") }}
            <label for="emailInput">Email</label>
            {{ render_errors(form.email) }}
        </div>
        <div class="form-floating">              
            {{ form.password(class='form-control rounded-bottom-0 rounded-top-0', id="passwordInput", placeholder="******") }}
            <label for="passwordInput">Password</label>
            {{ render_errors(form.password) }}
        </div>
        
        <div class="input-group mb-5"> 
            <label class="input-group-text rounded-start-0" for="jobInput">Cargo</label>             
            {{ form.job(class='form-select p-3 rounded-bottom-0 rounded-top-0', id="jobInput") }}
            
            <button class="btn btn-dark input-group-text rounded-start-0 rounded-end " for="jobInput"
            type="button" data-bs-toggle="offcanvas" data-bs-target="#job" aria-controls="job">
                <i class="bi bi-plus-circle"></i>
            </button>
            
        </div>
        {{ render_errors(form.job) }}
        
        <div class="form-group mb-3">
            {{ form.submit(class='btn btn-dark w-100 py-2') }}
        </div>
    </form>

    <div class="offcanvas offcanvas-end bg-body-tertiary" data-bs-theme="dark" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="job" aria-labelledby="jobLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="jobLabel">Linea</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {% include 'admin/add_jobForm.html' %}
        </div>
    </div>

</section>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        const selectJob = document.getElementById('jobInput')
    })
</script>

{% endblock %}