{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <section id="header">
        {% include '__title.html' %}
    </section>

    <section id="user">
       <div class="card">
        <div class="card-header bg-body-tertiary">
            <i class="bi bi-info-circle">Informaci&oacute;n del usuario</i> 
        </div>
        <div class="card-body">
            <h2 class="card-subtitle">{{ user.username }}</h2>
            <h3>{{ user.job.name }}</h3>

            <p class="card-text">{{ user.job.description }}</p>

            <p>Cedula: {{ user.ci }}</p>
            <p>Telefono: {{ user.phone }}</p>
            <p>Rol</p>
            {% for rol in user.roles %}
                <p>{{ rol.name }}</p>
                
            {% endfor %}
            <a href="{{ url_for('admin.assign_roles', user_id=user.id) }}" class="btn btn-dark">Roles</a>
        </div>
       </div>
    </section>

    <a href="{{ url_for('admin.edit_user', user_id=user.id) }}" class="btn btn-dark text-decoration-none">Editar</a>

{% endblock %}

