{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <section id="header">
        {% include '__title.html' %}
    </section>

    <section id="jobs">
       <div class="card">
        <div class="card-header">
            <p>
                <i class="bi bi-info-circle"></i>
                Informaci&oacute;n del puesto de trabajo
            </p>
        </div>
        <div class="card-body">
            <h2 class="card-title">{{ job.name }}</h2>
            <h3 class="card-subtitle">{{ job.code }}</h3>
            <p class="card-text">{{ job.description }}</p>
        </div>
       </div>
    </section>

    <a href="{{ url_for('admin.edit_job', job_id=job.id) }}" class="btn btn-dark text-decoration-none">Editar</a>

{% endblock %}