{% from 'macros.html' import cardContainer, tableHover %}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>

<section>
    <a href="{{ url_for('products.add_line') }}" class="btn btn-dark">Nueva Linea</a>
</section>

<section>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th></th>
            </thead>
            <tbody>
                {% for line in lines %}
                {% set url = url_for('products.view_line',line_id=line.id ) %}
                <tr data-url="{{ url_for('products.view_line',line_id=line.id ) }}" style="cursor: pointer;" onclick="redirectTo()">
                    <td>{{ line.code }}</td>
                    <td>{{ line.name }}</td>
                    <td>{{ line.description }}</td>
                    <td> 100 </td>
                    <td><i class="bi bi-chevron-right"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    
</section>
<script>
    function redirectTo() {
        const url = event.target.closest('tr').getAttribute('data-url');
        window.location.href = url;
    }
</script>

{% endblock %}
