<form @submit.prevent="submitForm" autocomplete="off">

  <div class="form-floating mb-3">
    <input type="text" class="form-control text-uppercase"
           id="code" placeholder="Ej: Escolar"
           x-model="form.code"
           @input= "checkCode()"
           required>
    <label for="code">Código de la bodega</label>
    <template x-if="existing_code" >
        <span id="codeFeedback" class="text-danger">
             🚫 El código ya existe.
        </span>        
    </template>
  </div>
  <span x-text="existing_code"></span>

  <div class="form-floating mb-3">
    <input type="text" class="form-control"
           id="name" placeholder="Ej: Escolar"
           x-model="form.name"
           @input = "checkName()"
           required>
    <label for="name">Nombre</label>
    <template x-if="existing_name" >
        <span id="codeFeedback" class="text-danger">
             🚫 El nombre ya existe.
        </span>        
    </template>
  </div>

   <div class="form-floating mb-3">
    <textarea class="form-control" id="description"
              placeholder="Descripción" style="height: 80px"
              x-model="form.description"></textarea>
    <label for="description">Descripción (opcional)</label>
  </div>

    <div class="form-floating mb-3">
    <input type="text" class="form-control"
           id="location" placeholder="Ej: Escolar"
           x-model="form.location">
    <label for="location">Ubicación</label>
  </div>

 

  <div class="d-flex justify-content-end mt-4">
    <button type="submit" class="btn btn-dark" :disabled="existing_code">Guardar</button>
  </div>

</form>
