{% extends "base.html" %}
{% block title %}Proveedores{% endblock %}
{% from 'components/_pageHeader.html' import pageHeader%}
{% block content %}

{{pageHeader(href='/suppliers',
              title='Proveedores',
              has_btn=true,
              btn_href='/suppliers/create',
              )}}

<div
    x-data="genericList(
      `/api/v1/suppliers`,
      '/suppliers',
      [
        { field: 'ruc_or_ci',        label: 'RUC/CI',      filterable: true  },
        { field: 'name',  label: 'Nombre',      filterable: true  },
        { field: 'address',   label: 'Dirección',      filterable: true  },
      ]
    )"
    x-init="init()"
  >

    <div class="d-none d-md-block">
      {% include 'components/listTable.html' %}
    </div>
   <div class="d-md-none">
      {% include 'components/listCard.html' %}
   </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/genericList.js') }}"></script>
{% endblock %}
