{% extends "base.html" %}
{% block title %}Grupos{% endblock %}
{% block content %}

<div x-data="{ href: '/inventory', title: ' Grupos' }">
    {% include 'components/_pageHeader.html' %}
</div>

<a href="/materials/groups/create" class="btn btn-dark">
        <i class="bi bi-plus-circle me-1"></i> Nuevo grupo
</a>

<div
    x-data="genericList(
      `/api/v1/material-groups`,
      '/materials/groups',
      [
       { field: 'code',  label: 'Código',      filterable: true  },
        { field: 'name',        label: 'Nombre',      filterable: true  },
        { field: 'quantity',        label: 'Cantidad',      filterable: true  },

      ]
    )"
    class="table-responsive"
  >
    {% include 'components/listTable.html' %}
  </div>




{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/genericList.js') }}"></script>
{% endblock %}
