{% extends "base.html" %}
{% from 'components/_pageHeader.html' import pageHeader%}
{% block title %}Grupos{% endblock %}

{% block content %}

{{ pageHeader(href='/inventory',
              title='Grupos',
              has_btn=True,
              btn_label='Nuevo grupo',
              btn_href='/materials/groups/create'
              ) }}

<div
    x-data="genericList(
      `/api/v1/material-groups`,
      '/materials/groups',
      [
       { field: 'code',  label: 'Código',      filterable: true  },
        { field: 'name',        label: 'Nombre',      filterable: true  },
        { field: 'quantity',        label: 'Cantidad',      filterable: true  },

      ]
    )"
    class="table-responsive"
  >

  <template x-if="error">
      <div class="alert alert-danger" role="alert" x-text="error"></div>
  </template>

  <div class="d-none d-md-block">
    {% include 'components/listTable.html' %}
  </div>

  <div class="d-md-none">
    {% include 'components/listCard.html' %}
  </div>



</div>




{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/genericList.js') }}"></script>
{% endblock %}
