{% from 'macros.html' import render_input_float, render_input %}
<section>
    <form id="ProductionOrderForm" method="post" novalidate enctype="multipart/form-data" x-data="productionOrderForm()" x-init='loadForm({{form.data|tojson}})' >

        {{ form.hidden_tag() }}

        <div class="form-floating">
            <input type="text" x-bind:name="'order_number'" x-bind:id="'order_number'"  
            x-bind:placeholder="'order_number'" x-model="order.order_number"
            class="form-control" />
            <label x-bind:for="'order_number'">Numero de orden</label>
            <div>
                <template x-for="(error, index) in orderErrors.order_number" :key="index"> 
                    <i class="bi bi-exclamation-circle-fill text-danger" x-text="error"></i>  
                </template>
            </div>
        </div>

        <div class="form-floating">           
            <input type="date" x-bind:name="'scheduled_start_date'" x-bind:id="'scheduled_start_date'"  
            x-bind:placeholder="'date'" x-model="order.scheduled_start_date" class="form-control"  />
            <label x-bind:for="'date'">Fecha inicio</label>
            <span x-text="orderErrors.scheduled_start_date" class="text-danger">
                <i class="bi bi-exclamation-circle-fill"></i>
            </span>
        </div>

        <div class="form-floating">           
            <input type="date" x-bind:name="'scheduled_end_date'" x-bind:id="'scheduled_end_date'"  
            x-bind:placeholder="'date'" x-model="order.scheduled_end_date" class="form-control"  />
            <label x-bind:for="'date'">Fecha fin</label>
            <span x-text="orderErrors.scheduled_end_date" class="text-danger">
                <i class="bi bi-exclamation-circle-fill"></i>
            </span>
        </div>

        <div class="form-floating">       
            <select x-bind:name="'responsible'" x-bind:id="'responsible'" 
            x-bind:placeholder="'responsible'" x-model="order.responsible" 
            class="form-select" required>
                <option value="">Seleccione un responsable</option>
                <template x-for="user in users" :key="user.id">
                    <option :value="user.id" x-text="user.username" ></option>
                </template>
            </select>
            <label for="responsible">Responsable</label>
            <div>
                <template x-for="(error, index) in orderErrors.responsible" :key="index">
                    <span class="error" x-text="error">
                        <i class="bi bi-exclamation-circle-fill"></i>
                    </span>
                </template>
            </div>

        </div>

 

        <div class="form-floating">           
            <input type="text" x-bind:name="'notes'" x-bind:id="'notes'"  
            x-bind:placeholder="'notes'" x-model="order.notes" class="form-control" />
            <label x-bind:for="'notes'">Observaciones</label>
            <div>
                <template x-for="(error, index) in orderErrors.notes" :key="index">
                    <span class="error" x-text="error">
                        <i class="bi bi-exclamation-circle-fill"></i>
                    </span>
                </template>
            </div>
        </div>
        
      
        <section id="requestedItems" class="mt-3">
            <h2>Requerimientos pendientes</h2>
            <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <th></th>
                    <th>Fecha pedido</th>
                    <th>Fecha entrega</th>
                    <th>Tipo</th>
                    <th>N.Orden</th>
                </thead>
                <tbody>
                    <template x-if="items">
                    <template x-for="(item, index) in items" :key="index">
                        <tr>
                            <td>
                                <input type="hidden" x-model="item.id" x-bind:name="'items-'+index+'-request_id'">
                                <input type="checkbox" x-bind:name="'items-' + index + '-is_selected'" class="form-check-input"
                                x-model="item.is_selected" x-bind:id="'items-' + index + '-is_selected'"> 
                                
                            </td>
                            <td>
                                <div x-text="item.request_date"></div>
                            </td>
                            <td>02-10-2025</td>
                            <td>
                                <div x-text="item.order_type"></div>
                            </td>
                    
                            <td>
                                <div x-text="item.order_number"></div>
                            </td>
                   
                        </tr>
                    </template>
                    </template>
                </tbody>
                
            </table>
        </div>
        </section>

        {{ form.submit(class='btn btn-dark mt-3') }}

    </form>


</section>

<script src="{{ url_for('static', filename='js/components/productionOrderForm.js') }}">

</script>