{% from 'macros.html' import cardContainer %}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>



<section>
    {{ cardContainer(id='Planificación', name='Planificación de producción', description='Visualización, creación, edición de órdenes de producción y estado', url=url_for('production.view_production_orders') ) }}

</section>
{# 
<section>
    {{ cardContainer(id='Ordenes de Produccion', name='Ordenes de produccion', description='Visualizacion, creacion, edicion de ordenes de produccion y estado', url=url_for('production.view_production_orders') ) }}
</section>

<section>
    {{ cardContainer(id='Requerimientos de produccion', name='Requerimientos', description='Visualizacion, creacion, edicion de requerimientos de produccion', url=url_for('production.view_production_requests') ) }}
</section>

<section>
    {{ cardContainer(id='Pedidos para Stock', name='Pedidos para Stock', description='Visualizacion, creacion, edicion de pedidos para stock y estado', url=url_for('production.view_stock_orders') ) }}
</section>
#}


<section>
    {{ cardContainer(id='Productos', name='Gestión de productos', description='Visualizacion, creacion, edicion de modelos', url=url_for('products.index') ) }}
</section>

<section>
    {{ cardContainer(id='Costos y eficiencia', name='Gestión de producción', description='Monitoreo de producción real vs estimado, alertas' ) }}
</section>


{% endblock %}
