{% from 'macros.html' import cardContainer %}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>

<section>
    <a href="{{ url_for('production.add_production_order') }}" class="btn btn-dark">
        Crear nueva orden de produccion
    </a>
</section>

<section>
    <h3>Ordenes de produccion</h3>
    <div class="table-responsive">
        <table class="table table-hover" x-data="viewProductionOrders()">
            <thead>
                <th>Codigo</th>
                <th>Fecha requerimiento</th>
                <th>Fecha entrega</th>
                <th>Status</th>
            </thead>
            <tbody>
                <template x-for="order in orders">
                    <tr  style="cursor: pointer;" x-model="order.id" @click="redirect_order(order.id)">
                        <td x-text="order.code" ></td>
                        <td x-text="order.scheduled_start_date"></td>
                        <td x-text="order.scheduled_end_date"></td>
                        <td x-text="order.status"></td>
                    </tr>
                </template>
            </tbody>
        </table>

    </div>
</section>
<script src="{{ url_for('static', filename='js/components/viewProductionOrders.js') }}">

</script>

{% endblock %}
