{% from 'macros.html' import cardContainer, tableHover %}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>
<p>{{ production_request_id }}</p>
<section>
    <div class="row border rounded mb-3" x-data="viewProductionRequest({{ production_request_id }})">
        <div class="col-10">
            
            <div class="text-muted fs-5 fw-bold d-flex flex-row" >
               <p > Orden Numero: </p>
               <p  x-text="request.order_number"></p>
            </div>
            <div class="fs-6 row" >
                <p class="col-6 text-muted fw-semibold"> Tipo: </p>
                <p class="col-6" x-text="request.type"></p>
             </div>
            <div class="fs-6 row">
                <p class="col-6">Fecha de requisicion:</p>
                <p class="col-6" x-text="request.request_date"></p>
            </div>
            <div class="fs-6 row">
                <p class="col-6">Estado:</p>
                <div class="col-6" >
                    <span 
                        :class="badgeClasses[request.status] || 'badge rounded-pill text-bg-secondary'" 
                        x-text="request.status">
                    </span>
                </div>
            </div>
            <div class="fs-6 row">
                <p class="col-6">Solicitante:</p>
                <p class="col-6" x-text="request.responsible"></p>
            </div>
            <div class="mt-3">
                Lista de modelos solicitados
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th>Codigo</th>
                            <th>Talla</th>
                            <th>Cantidad</th>
                        </thead>
                        <tbody>
                            <template x-for="(model, index) in models" :key="index">
                                <tr>
                                    <td x-text="model.product_code"></td>
                                    <td x-text="model.product_size"></td>
                                    <td x-text="model.product_qty"></td>
                                    <td x-text="model.product_notes"></td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</section>
<section>
    
   
</section>

<script src="{{ url_for('static', filename='js/components/viewProductionRequest.js') }}">

</script>

{% endblock %}
