{% from 'macros.html' import cardContainer %}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>

<section>
    <a href="{{ url_for('production.add_stock_order') }}" class="btn btn-dark">
        Crear nuevo requerimiento de produccion
    </a>
</section>

<section>
    <h3>Pedidos de produccion</h3>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Codigo</th>
                <th>Responsable</th>
                <th>Status</th>
            </thead>
            <tbody>
                {% if production_requests %}
                {% for pr in production_requests %}
                <tr data-url="{{ url_for('production.view_production_request', production_request_id=pr.id) }}" style="cursor: pointer;" onclick="redirectTo()">
                    <td>{{ pr.request_date }}</td>
                    <td>{{ pr.order_type }}</td>
                    <td>{{ pr.order_number }}</td>
                    <td>{{ pr.responsible }}</td>
                    <td>{{ pr.status }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

    </div>
</section>
<script>
    function redirectTo() {
        const url = event.target.closest('tr').getAttribute('data-url');
        window.location.href = url;
    }
</script>

{% endblock %}
