{% from 'macros.html' import cardContainer %}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>

<section>
    {{ cardContainer(id='Materiales', name='Gestión de materiales', description='Visualización, creación, edición de materiales', url=url_for('inventory.view_materials_stock') ) }}
</section>

<section>
    {{ cardContainer(id='Movimientos de inventatio', name='Gestión de inventario', description='Visualización, creación, edición de bodegas')}}
</section>

<section>
    {{ cardContainer(id='Productos', name='Modelos en Stock', description='Lista de modelos que estan disponibles para la venta', url='#') }}
</section>

<section>
    {{ cardContainer(id='Grupos', name='Grupos de materiales', description='Visualización, creación, edición de grupos', url=url_for('inventory.view_material_groups') ) }}
</section>

<section>
    {{ cardContainer(id='Bodegas', name='Gestión de bodegas', description='Visualización, creación, edición de bodegas', url=url_for('inventory.view_warehouses') ) }}
</section>

{% endblock %}