<div class="offcanvas offcanvas-end bg-body-tertiary" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
 id="addMenu" aria-labelledby="addMenuLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="addMenuLabel">Crear nuevo</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

      <a href="{{ url_for('sales.add_sale_order') }}">Nueva venta</a>
    </div>
</div>   