<div class="text-end">
    <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#masiveUploadForm" 
                aria-controls="masiveUploadForm">
                    <i class="bi bi-plus fs-4"></i>
                </button>  
                <div class="collapse bg-body-tertiary" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="masiveUploadForm" aria-labelledby="masiveUploadFormLabel">
                    <div class="collapse-header">
                      <h5 class="collapse-title" id="masiveUploadFormLabel">Notificaciones</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="collapse" aria-label="Close"></button>
                    </div>
                    <div class="collapse-body">
                      <div>
                        {% include '__masiveUploadForm.html' %}
                      </div>
                    </div>
                </div>      
</div>