<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand " href="#">Orden de Venta</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url_for('sales.add_sale_order_info') %}active{% endif %}" 
                    href="{{url_for('sales.add_sale_order_info')}}">General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url_for('sales.add_sale_order_client_info') %}active{% endif %}" 
                    href="{{url_for('sales.add_sale_order_client_info')}}">Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url_for('sales.add_sale_order_products_info') %}active{% endif %}" 
                    href="{{url_for('sales.add_sale_order_products_info')}}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url_for('sales.add_sale_order_payment_info') %}active{% endif %}" 
                    href="{{url_for('sales.add_sale_order_payment_info')}}">Pago</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url_for('sales.sale_order_checkout') %}active{% endif %}" 
                    href="{{url_for('sales.sale_order_checkout')}}">Checkout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>