{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="header">
    {% include '__title.html' %}
</section>

<div x-data="sale_order()" class="container py-4">
    <form @submit.prevent="submitOrder">
  
      <!-- Paso 1: Información básica -->
      <template x-if="step === 1">
        <div class="card shadow-sm">
          <div class="card-header">
            <strong>Información del pedido</strong>
          </div>
          <div class="card-body">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="order_code" x-model="order.code" required>
              <label for="order_code">Código del pedido</label>
            </div>
  
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="order_date" x-model="order.date" required>
              <label for="order_date">Fecha</label>
            </div>
  
            <div class="form-floating mb-3">
              <select name="salesperson" id="salesperson" x-model="order.salesperson" class="form-select">
                <option value="">Seleccione vendedor</option>
                <template x-for="vendor in vendors" :key="vendor.id">
                    <option :value="vendor.id" x-text="vendor.username"></option>
                </template>
              </select>

              <label for="salesperson">Vendedor</label>

            </div>
  
            <div class="form-floating mb-3">
                <textarea class="form-control" id="observations" x-model="order.observations" placeholder="Observaciones..." style="height: 100px"></textarea>
                <label for="observations">Observaciones</label>
            </div>

            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-primary" @click="step++">Siguiente</button>
            </div>
          </div>
        </div>
      </template>
  
      <!-- Paso 2: Cliente -->
      <template x-if="step === 2">
        <div class="card shadow-sm">
          <div class="card-header">
            <strong>Datos del cliente</strong>
          </div>
          <div class="card-body">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="client_search" x-model="clientQuery" @input.debounce.100="searchClients">
              <label for="client_search">Buscar cliente (CI / RUC / nombre)</label>
            </div>
            
            <template x-if="filteredClients.length">
              <ul class="list-group mb-3">
                <template x-for="c in filteredClients" :key="c.id">
                  <li class="list-group-item list-group-item-action" @click="selectClient(c)" >
                    <div x-text="c.name">

                    </div>
                    <div x-text="c.ruc_or_ci">

                    </div>
                  </li>
                  
                </template>
              </ul>
            </template>
  
            <template x-if="selectedClient">
              <div>
                <div class="alert alert-success">
                  Cliente seleccionado: <strong x-text="selectedClient.name"></strong>
                </div>

                <div class="mb-3">
                  <div class="card card-body">
                    <a type="button" :href="`/clients/${selectedClient.id}/update`">
                      <i class="bi bi-pencil"></i>
                    </a>
                    <p><strong>RUC/CI:</strong> <span x-text="selectedClient.ruc_or_ci"></span></p>
                    <p><strong>RUC/CI:</strong> <span x-text="selectedClient.ruc_or_ci"></span></p>
                    <p><strong>Email:</strong> <span x-text="selectedClient.email"></span></p>
                    <p><strong>Teléfono:</strong> <span x-text="selectedClient.phone"></span></p>
                    <p><strong>Provincia:</strong> <span x-text="selectedClient.province.name"></span></p>
                    <p><strong>Cantón:</strong> <span x-text="selectedClient.canton.name"></span></p>
                    <p><strong>Dirección registrada:</strong> <span x-text="selectedClient.address"></span></p>
                  </div>
                  
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" x-model="shippingAddress" id="shipping_address" placeholder="Dirección de envío">
                  <label for="shipping_address">Observaciones</label>
                </div>

              </div>
              
            </template>
            <div>
              <div class="mb-3">
                <button type="button" class="btn btn-dark" @click="new_client=!new_client">Nuevo cliente</button>
                <div>
                  <template x-if="new_client">
                    <div>
                      {% include 'crm/__clientForm_new.html' %}
                    </div>
                  </template>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" @click="step--">Anterior</button>
                <button type="button" class="btn btn-primary" @click="step++" :disabled="!selectedClient">Siguiente</button>
              </div>
            </div>
            
          </div>
        </div>
      </template>
  
      <!-- Paso 3: Confirmación -->
      <template x-if="step === 3">
        <div class="card shadow-sm">
          <div class="card-header">
            <strong>Confirmación</strong>
          </div>
          <div class="card-body">
            <p><strong>Código:</strong> <span x-text="order.code"></span></p>
            <p><strong>Fecha:</strong> <span x-text="order.date"></span></p>
            <p><strong>Vendedor:</strong> <span x-text="order.salesperson"></span></p>
            <p><strong>Cliente:</strong> <span x-text="selectedClient.name"></span></p>
  
            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-secondary" @click="step--">Anterior</button>
              <button type="submit" class="btn btn-success">Confirmar pedido</button>
            </div>
          </div>
        </div>
      </template>
  
    </form>
  </div>
  
  <script>
  function sale_order() {
    return {
      step: 1,
      order: {
        code: '',
        date: new Date().toISOString().split('T')[0],
        salesperson: '',
        observations:'',
      },
      clientQuery: '',
      filteredClients: [],
      selectedClient: null,
      vendors: [],
      new_client: false,

      async init() {
        //this.form.order_number = await this.fetchNextOrderNumber();
        this.order.salesperson = await this.getCurrentUser();
        this.fetchVendors();
      },

      async fetchVendors() {
        try {
          const res = await fetch('/api/v1/users?q=salesperson');
          
          if (!res.ok) {
            const errorText = await res.text();
            throw new Error(`Error HTTP ${res.status} - ${res.statusText}: ${errorText}`);
          }
          const data = await res.json();
          this.vendors = data;
        } catch (error) {
          console.error('Error cargando vendedores:', error.message);
        }
      },


      async getCurrentUser() {
        try{
          const res = await fetch('/api/v1/auth/me');
          if(!res.ok){
            const errorText = await res.text();
            throw new Error(`Error HTTP ${res.status} - ${res.statusText}: ${errorText}`)
          }
          const data = await res.json();
          return data.id || '';
        }catch(error){
          console.error('Error cargando usuario', error.message)
        }
        
      },

      async fetchNextOrderNumber() {
        const res = await fetch('/api/v1/sales/next-order-number');
        const data = await res.json();
        return data.next_order_number || 'ORD-001';
      },
  
      async searchClients() {
        if (this.clientQuery.length < 3) return;
        const res = await fetch(`/api/v1/clients/search/client?q=${this.clientQuery}`);
        const data = await res.json();
        this.filteredClients = data;
        
      },
  
      selectClient(client) {
        this.selectedClient = client;
        this.filteredClients = [];
      },
  
      async submitOrder() {
        try {
          const payload = {
            ...this.order,
            client_id: this.selectedClient.id
          };
          const res = await fetch('/api/v1/sales', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(payload)
          });
          const result = await res.json();
          if (res.ok) {
            alert('Pedido creado correctamente');
            window.location.href = '/ventas';
          } else {
            alert(result.message || 'Error al guardar pedido');
          }
        } catch (err) {
          console.error(err);
          alert('Error inesperado');
        }
      }
    }
  }
  </script>
  
  
  {% endblock %}